.activeChat {
    height: 130px;
    width: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid $verylight-grey-color;

    &__profilePic {
        position: relative;
        width: 30%;
        display: flex;
        justify-content: center;
        
        .image {
            height: 60px;
            width: 60px;
            border-radius: 50%;
            object-fit: cover;
        }

        .status-icon {
            position: absolute;
            top: 0;
            right: 20%;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background-color: $light-grey-color-2;
            border: 2px solid white;
        }
    }

    &__info {
        padding-right: 22px;
        margin-left: 4px;
        width: 80%;

        .top-banner {
            display: flex;
            justify-content: space-between;
            font-weight: 300;
            color: $light-grey-color-2;
        }

        .chat-name {
            margin: 2px 0;
            font-weight: 500;
            font-size: 20px;
        }

        .chat-message {
            margin-top: 4px;
            font-size: 14px;
            font-weight: 400;
            color: $dark-grey-color-2;
        }
    }
}