.newMeal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.226);
    z-index: 999;

    &__container {
        position: relative;
        display: grid;
        grid-template-columns: 3fr 5fr;
        grid-column-gap: 40px;
        height: 80vh;
        width: 80vw;
        background-color: white;
        box-shadow: $stdBoxShadow;
        border-radius: 6px;
        padding: 30px;

        .complete, .discard {
            position: absolute;
            height: 40px;
            width: 40px;
            box-shadow: $stdBoxShadow;
            padding: 6px;
            border-radius: 50%;
            cursor: pointer;
        }

        .complete {
            position: absolute;
            bottom: -2%;
            right: -1%;
            transform: translate(-2%, -1%);
            background-color: rgb(2, 207, 2);

            svg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                fill: white;
                height: 24px;
                width: 24px;
            }
        }

        .discard {
            position: absolute;
            top: -2%;
            right: -1%;
            background-color: white;

            svg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
                height: 20px;
                width: 20px;
            }
        }

        &--left {
            position: relative;
            display: flex;
            flex-direction: column;
            overflow: hidden;

            .search input{
                position: relative;
                width: 100%;
                font-size: 18px;
                padding: 6px;
                font-size: 16px;
                border-radius: 3px;
                border: 2px solid $light-grey-color;

                &:focus {
                    outline: none;
                }
            }

            .filters {
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin-top: 20px;
            }

            .range, .prefer {
                position: relative;
                font-size: 18px;
                padding: 6px;
                font-size: 16px;
                border-radius: 3px;
                border: 2px solid $light-grey-color;
            }

            .prefer {
                margin-right: 20px;
            }

            .products, .totals {
                margin-top: 20px;
                height: calc(100% - 20px);
                width: 100%;
                border-radius: 3px;
                border: 2px solid $light-grey-color;
            }

            //:::: All Selection:::://
            .selection {
                display: flex;
                flex-direction: column;
                grid-template-rows: 3fr 1fr;
                width: 100%;
                height: 100%;
            }

            .products {
                display: flex;
                flex-direction: column;
                padding: 10px;
                height: 100%;
                overflow: scroll;

                &__card {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    height: 60px;
                    width: 100%;
                    padding-bottom: 10px;
                    border-bottom: 1px solid $light-grey-color;

                    &:not(:first-of-type) {
                        margin-top: 14px;
                    }
                }

                .top {
                    display: flex;
                    align-items: center;

                    svg {
                        margin-left: auto;
                        margin-right: 0;
                        height: 15px;
                        width: 15px;
                        cursor: pointer;
                    }
                }

                .title {
                    font-weight: 500;
                    font-size: 22px;
                }

                .energy {
                    color: white;
                    font-weight: 500;
                    background-color: $primary-color;
                    padding: 2px 6px;
                    border-radius: 3px;
                    margin-left: 6px;
                }

                .body {
                    display: flex;
                    justify-content: space-between;
                    width: 80%;
                    padding: 8px 0;
                    font-weight: 300;
                }
            }
             //:::: End of Selection:::://
        }

        &--right {
            display: flex;
            flex-direction: column;
            overflow: hidden;

            .timeSelect {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                font-size: 16px;
                font-weight: 400;
                margin-bottom: 10px;

                .error {
                    color: red;
                    font-weight: 500;
                }

                .hours {
                    width: 60px;
                    font-size: 16px;
                    padding: 3px;
                    border: 2px solid $light-grey-color;
                    border-radius: 3px;
                    text-align: center;
                    margin-left: 10px;

                    &:focus {
                        outline: none;
                        border-color: $primary-color;
                    }
                }
            }

            .mealName {
                position: relative;
                display: flex;
                flex-direction: column;
                width: 100%;
        
                &__label {
                    position: relative;
                    font-size: 18px;
                    font-weight: 500;
                    margin-bottom: -8px;
                    z-index: 10;

                    &--error {
                        color: red;
                    }
                }
        
                &__input {
                    font-size: 52px;
                    line-height: 1.4;
                    font-weight: 600;
                    border: none;
                    border-bottom: 2px solid $secondary-color;
        
                    &::placeholder {
                        font-size: 52px;
                        font-weight: 600;
                        color: $text-color;
                    }
        
                    &:focus {
                        outline: none;
                    }
                }
        
                &__charAmount {
                    position: absolute;
                    right: 0;
                    bottom: 17%;
                    font-weight: 500;
                    color: $light-grey-color-2;
                }
            }

            .content {
                position: relative;
                overflow-y: scroll;
                border-radius: 6px;

                &__heading {
                    margin: 10px 0;
                    font-weight: 500;

                    &.error {
                        color: red;
                    }
                }

                &__body {
                    position: relative;
                    padding: 0 8px;
                }
            }
        }
    }

    .totals {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        align-content: center;
        height: 140px;

        .macros__col {
            text-align: center;
            
            &:not(:last-of-type) {
                border-right: 1px solid $secondary-color;
            }
        }

        .title, .recom-amount {
            font-size: 14px;
        }

        .title {
            font-weight: 400;
            font-weight: 18px;
            color: $light-grey-color-2;
        }

        .amount {
            font-size: 28px;
            font-weight: 500;
            padding: 2px 0;
        }

        .recom-amount {
            color: $light-grey-color-2;
        }
    }
}