.mealcard {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: $text-color;
    border-radius: 4px;
    padding: 4px;
    overflow: hidden;
    box-shadow: $stdBoxShadow;

    &__info {
        margin: 8px;

        &--top {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__name {
        position: relative;
        font-size: 20px;
        font-weight: 400;
        color: $medium-grey-color;
        z-index: 99;
    }

    &__time {
        position: relative;
        font-weight: 400;
        font-size: 18px;
        margin-top: 8px;
        color: white;
        z-index: 99;
    }

    &__bg {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;
        top: 48%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: 100%;
        background-color: $text-color;

        &--text {
            font-size: 100px;
            font-weight: 800;
            text-align: center;
            color: rgb(80, 80, 80);
        }
    }

    &__btns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4px;
    }

    &__delete {
        height: 30px;
        width: 100%;
        background-color: white;
        border: 0px solid white;
        border-radius: 2px;
        padding: 2px;
        z-index: 99;
        cursor: pointer;

        &--icon {
            position: relative;
            height: 100%;
            width: 100%;
            transform: rotate(45deg);
        }
    }

    &__edit {
        height: 30px;
        width: 100%;
        background-color: white;
        border: 0px solid white;
        border-radius: 2px;
        padding: 4px;
        margin-left: auto;
        margin-right: 4px;
        z-index: 99;
        cursor: pointer;

        &--icon {
            position: relative;
            height: 100%;
            width: 100%;
            fill: $primary-color;
        }
    }

    &__copy--icon {
        fill: white;
        height: 20px;
        width: 20px;
        z-index: 99;
        cursor: pointer;
    }

    &__stop-dupl {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        height: 26px;
        width: max-content;
        background-color: rgb(2, 204, 2);
        border: 0px solid rgb(2, 204, 2);
        border-radius: 2px;
        padding: 2px 6px;
        z-index: 99;
        cursor: pointer;

        p {
            color: white;
        }
    }

}