.stepthree {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
    color: $text-color;
    max-height: 100%;
    width: 100%;
    padding: 15px 0;

    &__row {
        &--1 {
            display: flex;
            flex-direction: column;

            .inputfield-group {
                width: 100%;
                margin-top: 30px;

                &__input {
                    @include signupsteps-input;

                    &--1 {
                        width: 300px;
                    }
                }
            }
        }

        &--2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            line-height: 1;
            width: 100%;

            .inputfield-group {
                width: 60%;

                &:not(:first-of-type) {
                    margin-top: 30px;
                }

                label {
                    @include signupsteps-heading
                }

                &__input {
                    @include signupsteps-input;

                    &--2 {
                        width: 240px;
                    }

                    &--3 {
                        width: 90px;
                    }

                    &--4 {
                        width: 90px;
                    }
                }

                .expdate__group {
                    display: flex;
                    height: 46px;

                    :first-child {
                        margin-right: 20px;
                    }

                    .select {
                        @include select-bg-arrow;
                        line-height: 1;
                    }
                }
            }
        }

        &--3 {
            display: flex;
            flex-direction: column;
            line-height: 1;
            width: 100%;

            h2 {
                font-weight: 400;
                font-size: 18px;
                margin-bottom: 10px;
            }
        }
    }

    .plan__card {
        box-shadow: 0px 0px 5px 2px rgba(134, 134, 134, 0.479);
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        border-radius: 4px;
        width: 82%;
        position: relative;

        &--header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: $text-color;
            height: 40px;
            padding-left: 10px;
            border-radius: 4px;
            
            h3 {
                color: white;
                margin-left: -56px;
            }
        }

        &--col {
            color: $text-color;
            padding: 15px;

            svg {
                width: 16px;
                height: 16px;
                margin-right: 10px;
            }
        }

        &--heading {
            font-weight: 400;
            font-size: 18px;
            position: relative;
        }  
        
        p {
            margin-top: 15px;
            line-height: 26px;
            font-size: 16px;
            text-align: start;

            &:first-of-type {
                margin-top: 0px;
            }

            svg {
                width: 10px;
                height: 10px;
                margin-right: 2px;
            }
        }

        &--pricing {
            display: flex;
            flex-direction: row;
            border-radius: 2px;
            padding: 5px 6px;
            margin-right: -10px;
            color: white;
            background-color: $primary-color;

            h1 {
                font-size: 20px;
            }
        }
    }
}

.card {
    &__col {
        &--1 {
            color: white;
        }

        &--2 {
            width: 30%;
        }

        &--3 {
            width: 30%;
        }
    }
}

.card-container {
    position: relative;
    height: 200px;
    width: 300px;
}

.card {
    font-family: "Source Code Pro", monospace;
    position: absolute;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    transition: all 0.5s;

    &.active {
        transform: rotateY(180deg);
    }

    &__front {
        position: absolute;
        backface-visibility: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        padding: 15px;
        border-radius: 4px;
        background-image: url(../assets/svg/card-bg.svg);
        background-size: cover;
        color: black;
        border-radius: 10px;

        .top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 26px;
            width: 100%;

            &--chip {
                svg {
                    height: 22px;
                }
            }
            
            &--type {
                img {
                    width: 60px;
                }
            }
        }

        .cardnumber {
            color: white;
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 1px;
            font-style: italic;

            &__item {
                display: flex;
                flex-direction: row;

                &--number {   
                    width: 14px;
                    display: inline-block;
            
                    @media screen and (max-width: 480px) {
                        width: 13px;
            
                        &.-active {
                        width: 16px;
                        }
                    }
                
                    @media screen and (max-width: 360px) {
                        width: 12px;
            
                        &.-active {
                        width: 8px;
                        }
                    }
                }
            }
        }

        .bottom {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: white;

            &__info {
                display: flex;
                flex-direction: column;

                .title {
                    font-size: 12px;
                    font-weight: 500;
                    color: rgba(255, 255, 255, 0.781);
                }

                .name {
                    font-size: 18px;
                    width: 11px;
                    display: inline-block;
                }

                .placeholder {
                    font-size: 18px;
                }

                .expdate {
                    display: flex;
                    flex-direction: row;
                    font-size: 18px;
                }
            }
        }
    }

    &__back {
        position: absolute;
        backface-visibility: hidden;
        height: 100%;
        width: 100%;
        padding: 15px;
        border-radius: 4px;
        background-image: url(../assets/svg/card-bg.svg);
        background-size: cover;
        color: black;
        transform: rotateY(180deg);
        border-radius: 10px;

        .strip {
            width: calc(100% + 30px);
            margin-left: -15px;
            height: 36px;
            background-color: $text-color;
        }

        .cvv {
            margin-top: 30px;

            &--container {
                display: flex;
                justify-content: flex-end;
                height: 30px;
                width: 100%;
                padding: 6px;
                border-radius: 4px;
                background-color: white;
            }

            &--title {
                font-weight: 600;
                margin-bottom: 4px;
                color: white;
                text-align: end;
            }

            &--code {
                align-self: center;
            }
        }
    }
}

.switch-enter {
    opacity: 0;
}

.switch-enter-active {
    animation: slide-in 0.3s ease-in-out forwards;
    position: relative;
}

.switch-leave-active {
    animation: slide-out 0.3s ease-in-out forwards;
    position: absolute;
}

.switch-leave {
    opacity: 0;
}

@keyframes slide-in  {
    from {
        opacity: 0;
        transform: translateY(-100%);
    } to {
        opacity: 1;
        transform: translateY(100);
    }
}

@keyframes slide-out {
    from {
        opacity: 1;
        transform: translateY(0);
    } to {
        opacity: 0;
        transform: translateY(10%);
    }
}