.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 100%;
    
    &__body {
        background-color: white;
        box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.096);
        border-radius: 6px;
        padding: 10px;
        width: 100%;

        &--top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 9px;
        }
    }

    &__goal {
        position: absolute;
        top: 0;
        right: 0;
        padding: 8px 10px;
        border-radius: 0px 6px 0px 6px;
        background-color: $text-color;
        font-size: 12px;
        color: white;
        font-weight: 400;
        line-height: 1;
    }

    &__heading {
        font-size: 20px;
        font-weight: 500;
        line-height: 1;
    }

    &__diet-type {
        font-weight: 400;
        font-size: 16px;
        margin-top: 8px;
    }

    &__duration {
        font-weight: 500;
        font-size: 14px;
        margin-top: 8px;
    }

    &__description {
        color: $dark-grey-color;
        font-style: italic;
        font-size: 15px;
        line-height: 1.4;
    }

    &__allergies {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 8px;

        &--item {
            display: flex;
            font-weight: 400;
            color: $primary-color;
            line-height: 1;
            border: 1px solid $primary-color;
            border-radius: 14px;
            padding: 2px 8px;
            margin-left: 8px;
            margin-top: 4px;
            margin-bottom: 4px;
            font-size: 12px;
        }
    }

    &__lower {
        display: flex;
        justify-content: space-between;
    }

    &__progress {
        display: flex;
        font-weight: 400;
        color: $secondary-color;
        line-height: 1;
        border: 1px solid $secondary-color;
        border-radius: 14px;
        padding: 2px 8px;
        margin-left: 8px;
        margin-top: 4px;
        margin-bottom: 4px;
        font-size: 12px;
    }

    &__btns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4px;
        margin-top: 8px;
    }

    &__edit {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 100%;
        color: white;
        font-size: 14px;
        background-color: $text-color;
        border: 0px solid white;
        border-radius: 2px;
        padding: 4px;
        margin-left: auto;
        margin-right: 4px;
        z-index: 99;
        cursor: pointer;

        &--icon {
            position: relative;
            height: 17px;
            width: 17px;
            fill: $primary-color;
        }
    }

    &__delete {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        color: white;
        font-size: 14px;
        width: 100%;
        background-color: $text-color;
        border: 0px solid white;
        border-radius: 2px;
        padding: 2px;
        z-index: 99;
        cursor: pointer;

        &--icon {
            position: relative;
            height: 20px;
            width: 20px;
            transform: rotate(45deg);
        }
    }

    &__no-allergies {
        margin-left: 2px;
    }

    &__startend {
        font-size: 12px;
        color: $medium-grey-color;
        line-height: 1;
    }
}