.sides__side {
    width: 50vw;

    &-2 {
        .content {
            overflow-y: scroll;
            overflow-x: hidden;
        }

        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 500px;
        margin-left: 66px;
        color: $text-color;
        height: 100%;

        @media screen and (max-width: 375px) {
            justify-content: start;
            padding: 16px;
        }

        h1 {
            font-weight: 300;
            font-size: 60px;
            margin-bottom: 14px;

            @media screen and (max-width: 375px) {
                font-size: 30px;
            }
        }

        @media screen and (max-width: 375px) {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -48%);
            background-color: white;
            border-radius: 6px;
            box-shadow: $stdBoxShadow;
            width: 90vw;
            height: auto;
            overflow-y: scroll;
            overflow-x: hidden;
            margin: 0;
        }
    }
}

.bold {
    font-weight: 600;
}

.blue {
    color: $secondary-color;
    font-weight: 600;
}

.subtext {
    font-weight: 600;
    font-size: 21px;

    @media screen and (max-width: 375px) {
        font-size: 18px;
        font-weight: 400;
    }
}

.input.invalid input {
    border: 1px solid red;
}

.password.invalid input {
    border: 1px solid red;
}

.validation-warning {
    color: red;
    margin-bottom: 4px;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 38px;

    &__heading {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 18px;
    }

    &__input {
        @include input;

        &:focus {
            outline: none;
        }
        
        &::placeholder {
            color: #979797;
            font-weight: 400;
        }
        

        &--1 {
            margin-bottom: 20px;
            width: 100%;
        }
        
        &--2 {
            margin-bottom: 16px;
            width: 100%;
        }
    }

    &__forgot {
        align-self: flex-end;
        color: $secondary-color;   
        font-weight: 400;
        font-size: 20px;
        font-weight: 500;

        @media screen and (max-width: 375px) {
            font-size: 16px;
        }

    }

    .login {
        cursor: pointer;
        margin-top: 16px;
        padding: 10px;
        font-size: 24px;
        border-radius: 3px;
        border: 2px solid $primary-color;
        color: $primary-color;
        font-weight: 700;

        @media screen and (max-width: 375px) {
            font-size: 16px;
            background-color: transparent;
        }

        &:focus {
            outline: none;
        }
        
        &:disabled {
            border: 2px solid $light-grey-color;
            color: $light-grey-color;
            cursor: not-allowed;
        }
    }
}

.signup {
    margin: 24px 0;
    font-size: 18px;
    font-weight: 400;

    @media screen and (max-width: 375px) {
        font-size: 16px;
    }

    &__btn {
        color: $secondary-color;
        text-decoration: none;
        font-weight: 500;
    }
}

.social {

    &__heading {
        width: 100%;
        text-align: center;
        position: relative;
        color: $light-grey-color-2;
        font-weight: 400;
        margin-bottom: 24px;

        @media screen and (max-width: 375px) {
            font-size: 16px;
        }

        &::before, &::after {
            content: "";
            display: block;
            background-color: $light-grey-color-2;
            height: 1px;
            width: 32%;
            position: absolute;
            top: 50%;
        }

        &::before {
            right: 0;
        }

        &::after {
            left: 0;
        }
    }

    &__btn {
        background-color: transparent;
        padding: 6px 60px;
        border-radius: 4px;
        border: 2px solid;

        &--1 {
            border-color: $insta-red;
        }

        &--2 {
            border-color: $fb-blue;
        }

        &--3 {
            border-color: $twit-blue;
        }
    }

    &__icons {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 375px) {
            flex-direction: column;
            
            :not(:first-of-type) {
                margin-top: 20px;
            }
        }
    }

    &__icon {
        height: 24px;
        width: 24px;

        @media screen and (max-width: 375px) {
            height: 18px;
            width: 18px;
        }

        &--1 {
            fill: $insta-red;
        }

        &--2 {
            fill: $fb-blue;
        }

        &--3 {
            fill: $twit-blue;
        }
    }
}

.password {
    width: 100%;
    position: relative;
    z-index: 5;

    &__icon {
        position: absolute;
        right: 16px;
        top: 15px;
        height: 22px;
        z-index: 10;
        cursor: pointer;

        @media screen and (max-width: 375px) {
            top: 11px;
        }
    }
}