.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 50px;
    background-color: white;
    border-radius: 14px 0 0 0;

    &__left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 44%;
    }

    &__right {
        position: relative;
        display: flex;
        align-items: center;
    }
}

.search {
    display: flex;
    align-items: center;
    width: 70%;

    &__input {
        border-radius: 3px;
        border: 2px solid $primary-color;
        margin: 0 10px 0 0;
        padding: 8px 12px;
        font-size: $default-font-size;
        font-weight: 500;
        width: 100%;
        height: 39px;

        &::placeholder {
            color: $text-color;
            font-weight: 600;
        }

        &:focus {
            outline: none;
        }
    }

    &__btn {
        border: none;
        background-color: $text-color;
        width: 52px;
        height: 39px;
        border-radius: 3px;

        &--icon {
            height: 22px;
            width: 22px;
            fill: white;
        }
    }
}

.notification {
    &__icon {
        margin-right: 16px;
        height: 30px;
        fill: $text-color;
    }
}

.user {
    display: flex;
    align-items: center;
    border: 2px solid $secondary-color;
    border-radius: 5px;
    padding: 1px;

    &__pic {
        height: 35px;
        width: 35px;
        object-fit: cover;
        border-radius: 3px;
        margin-right: 10px;
    }

    &__name {
        font-size: $default-font-size;
        font-weight: 500;
        columns: $text-color;
    }

    &__dropdown {
        margin-left: 10px;
        margin-right: 6px;
        fill: $text-color;
        cursor: pointer;
    }
}

.navbar-dropdown {
    visibility: hidden;
    position: absolute;
    padding: 18px 18px;
    bottom: -160px;
    right: 0px;
    background-color: white;
    filter: drop-shadow(rgba(0, 0, 0, 0.3) 0 2px 10px);
    border-radius: 4px;
    z-index: 999;
    opacity: 0;
    transition: visibility .1s, opacity .1s, height .1s linear;

    &.show {
        visibility: visible;
        opacity: 1;
    }

    ul {
        text-decoration: none;
        list-style: none;
    }

    .list-item {
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;

        &:not(:last-of-type) {
            margin-bottom: 24px;
        }

        svg {
            width: 16px;
            margin-right: 12px;
            fill: $text-color;
        }

        &:hover {
            color: $primary-color;

            svg {
                fill: currentColor;
            }
        }
    }

    &::before {
        border: 10px solid;
        border-color: white transparent transparent;
        content: "";
        left: 50%;
        position: absolute;
        top: -20px;
        right: 20px;
        left: 83%;
        transform: rotate(180deg);
    }
}