.planoverview {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.dietaryDetails {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    margin-top: 20px;
}

.dietCalendarOverview {
    @include dietCalOverview
}

.overviewMealContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
}