.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.096);
    border-radius: 4px;
    padding: 5px 0;

    &__heading {
        font-size: 16px;
        margin: 10px 0;
        font-weight: 500;
        color: $text-color;
    }
}

.progress {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .minmax {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 0 40px;
        margin-top: 8px;
        margin-bottom: 8px;
        font-weight: 300;
    }

    &__bar {
        position: relative;
        display: flex;
        justify-content: center;
        width: 67%;

        &--bg {
            height: 10px;
            width: 100%;
            border-radius: 3px;
            background-color: #F0F0F0;
            box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.062);
        }

        &--bar {
            margin: 30px 0;

            .userprogress {
                position: absolute;
                top: 30px;
                left: 46%;
            }

            .bar {
                position: absolute;
                top: 0;
                left: 0;
                width: 50%;
                height: 10px;
                border-radius: 3px;
                background-color: $primary-color;
            }

            .barIcon {
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center;
                left: 50%;
                top: -9px;
                transform: translateX(-50%);
                margin-top: -8px;

                svg {
                    height: 50px;
                }

                p {
                    margin-top: -4px;
                    font-weight: 600;
                }
            }
        }
    }
}
