.mealcard-container {
    background-color: $text-color;
    border-radius: 6px;
    height: 280px;
    margin-top: 30px;
    color: white;
    padding: 12px 14px;
    background-image: linear-gradient(0deg, rgba(2,0,36,0) 0%, rgba(0,0,0,0) 35%, rgba(0,0,0,0.5452556022408963) 76%, rgba(0,0,0,0.8421743697478992) 100%), url(../assets/demo-img/eiliv-sonas-aceron-776219-unsplash.png);
    background-size: 110%;
    background-position: center;

    .top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-items: center;
        margin-bottom: 20px;

        &__right {
            fill: white;
            width: 16px;
            height: 16px;
        }
    }

    &__content {
        width: 80%;
    }
}