.product {
    background-color: white;
    box-shadow: $stdBoxShadow;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 20px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $text-color;
    border-radius: 6px;
    color: white;
    padding: 6px 10px;

    .left {
        display: flex;
        align-items: center;

        &__name {
            font-weight: 500;
            margin-right: 10px;
        }

        &__energy {
            background-color: $primary-color;
            width: max-content;
            padding: 4px 6px;
            font-size: 14px;
            font-weight: 400;
            border-radius: 3px;
        }

        &__btn {
            background-color: transparent;
            width: max-content;
            padding: 4px 10px;
            font-size: 14px;
            font-weight: 400;
            border: 1px solid $secondary-color;
            border-radius: 3px;
            color: $secondary-color;
            margin-left: 16px;
            cursor: pointer;

            &:focus {
                outline: none;
            }
        }
    }

    .right {
        display: flex;
        align-items: center;
        justify-content: center;

        .cancel {
            border: none;
            background-color: transparent;
            cursor: pointer;

            &:focus {
                outline: none;
            }

            svg {
                height: 18px;
                width: 18px;
                transform: rotate(45deg);
            }
        }

        &__btn {
            background-color: greenyellow;
            width: max-content;
            padding: 4px 10px;
            font-size: 14px;
            font-weight: 400;
            border: 1px solid greenyellow;
            border-radius: 3px;
            color: $text-color;
            margin-left: 16px;
            cursor: pointer;

            &:focus {
                outline: none;
            }
        }
    }
}

.details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    padding: 10px;
}

.container {
    position: relative;
    border-radius: 4px;
    border: 2px solid $light-grey-color;
    height: 100px;
    overflow-y: scroll;
}

.details__heading {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 6px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    padding: 4px;

    &:not(:first-of-type) {
        margin-top: 6px;
    }
}

.serving {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
        justify-self: stretch;
        margin: auto 0;
        border: none;
        border-bottom: 2px solid $light-grey-color;
        font-size: 52px;
        width: 120px;
        text-align: center;

        &:focus {
            outline: none;
        }
    }
}