.sidenav {
    grid-row: 1/-1;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 32px 0 0 40px;
    
    a {
        text-decoration: none;
        color: white;
        font-size: $default-font-size;
        font-weight: 400;

        &:not(:last-of-type) {
            margin-bottom: 40px;
        }
    }

    &__link {
        position: relative;
        z-index: 1;
        
        &:first-of-type {
            margin-top: 90px;
        }

        &.active {
            z-index: 0;
            font-weight: 500;
            color: $secondary-color;

            svg {
                fill: $secondary-color;
            }

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -50px;
                height: 40px;
                width: 110%;
                background-color: white;
                color: $secondary-color;
                border-radius: 6px;
                z-index: -1;
            }
        }

        display: flex;
        align-items: center;

        &--icon {
            fill: white;
            width: 20px;
            height: 20px;
            margin-right: 20px;
        }
    }

    &__logo {
        display: flex;
        flex-direction: row;
        margin-top: -4px;

        &--icon {
            width: 30px;
            height: 30px;
            margin-top: -2px;
            padding-right: 6px;
        }

        &--name {
            height: 30px;
        }
    }
}