.steptwo {
    display: grid;
    justify-items: start;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    justify-content: space-between;
    color: $text-color;

    &__col > * {
        margin-top: 30px;
    }
}

.inputfield-group {
    position: relative;
    display: flex;
    flex-direction: column;

    @include validation-warning-textarea;

    &:not(:first-child) {
        margin-top: 30px;
    }

    &__input {
        width: 300px;
        height: 180px;
        @include signupsteps-input
    }

    label {
        @include signupsteps-heading
    }

    input {
        @include signupsteps-input;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    select {
        -webkit-appearance:none;
        -moz-appearance:none;
        -ms-appearance:none;
        appearance:none;
        outline:0;
        flex: 1;
        z-index: 99;
        cursor: pointer;
        @include signupsteps-input;

        &::-ms-expand {
            display: none;
        }
    }

    .select {
        position: relative;
        display: flex;
        line-height: 3;
        overflow: hidden;
        border-radius: .25em;

        &--1 {
            width: 80px;
            @include select-bg-arrow
        }
        
        &--2 {
            width: 500px;
            @include select-bg-arrow
        }

        &__icon {
            position: absolute;
            width: 18px;
            height: 18px;
            fill: $text-color;

            &--1 {
                top: 32%;
                right: 14%;
            }

            &--2 {
                top: 32%;
                right: 10px;
            }
        }
    }

    /*::::: Change autocomplete styles in WebKit :::::*/
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        -webkit-text-fill-color: $text-color;
        box-shadow: 0 0 0px 1000px rgb(255, 255, 255) inset;
        -webkit-box-shadow: 0 0 0px 1000px rgb(255, 255, 255) inset;
        transition: background-color 5000s ease-in-out 0s;
    }
}