.stepone {
    display: grid;
    justify-items: end;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    justify-content: space-between;
    color: $text-color;

    &__col > * {
        margin-top: 30px;
    }
}

.inputfield-group {
    position: relative;
    display: flex;
    flex-direction: column;

    .weight {
        position: relative;
        width: 76px;
    }

    .bodyfat {
        position: relative;
        width: 58px;
    }

    &:first-child {
        margin-top: 0px;
    }

    .weight-metric {
        position: absolute;
        top: 52%;
        right: 14%;
        transform: translateY(-50%);
        color: $dark-grey-color;
    }

    .bodyfat-perc {
        position: absolute;
        top: 52%;
        right: 18%;
        transform: translateY(-50%);
        color: $dark-grey-color;
    }

    &__input {
        &--1 {
            width: 220px;
        }

        &--2 {
            width: 300px;
        }

        &--3 {
            width: 100%;
        }

        &--5 {
            width: 100%;
        }

        &--6 {
            width: 124px;
        }
    }

    label {
        @include signupsteps-heading
    }

    input {
        @include signupsteps-input;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    input[type=number] {
    -moz-appearance: textfield;
    }

    select {
        -webkit-appearance:none;
        -moz-appearance:none;
        -ms-appearance:none;
        appearance:none;
        outline:0;
        flex: 1;
        z-index: 99;
        cursor: pointer;
        @include signupsteps-input;

        &::-ms-expand {
            display: none;
        }
    }

    .select {
        position: relative;
        display: flex;
        width: 188px;
        line-height: 3;
        overflow: hidden;
        border-radius: .25em;

        .metric-select {
            @include select-bg-arrow
        }

        &__icon {
            position: absolute;
            top: 32%;
            right: 12px;
            width: 18px;
            height: 18px;
            fill: $text-color;
        }
    }

    /*::::: Change autocomplete styles in WebKit :::::*/
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        -webkit-text-fill-color: $text-color;
        box-shadow: 0 0 0px 1000px rgb(255, 255, 255) inset;
        -webkit-box-shadow: 0 0 0px 1000px rgb(255, 255, 255) inset;
        transition: background-color 5000s ease-in-out 0s;
    }

    &__upload {
        position: relative;
        height: 150px;
        width: 150px;
    }

    .preview-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
    }

    .uploadimg {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 36px;
        height: 36px;
        border: none;
        border-radius: 2px;
        color: white;
        background-color: $secondary-color;

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            fill: white;
            height: 24px;
            height: 24px;
        }
    }
}

.vdp-datepicker__calendar .cell.selected {
    background: $secondary-color !important;
    color: white !important;
}

.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year {
    &:hover {
        border: 2px solid $primary-color !important;
    }
}

@include validation-warnings