.timeline-details {
    margin-top: 20px;
    height: 100%;
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__left {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 20px;

        h2 {
            font-weight: 300;
            font-size: 24px;
        }

        strong {
            font-weight: 400;
        }
    }

    &__right {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .editPlan {
        display: flex;
        align-items: center;
        border: 2px solid $primary-color;
        background-color: white;
        border-radius: 4px;
        margin-right: 20px;

        &__btn {
            border: none;
            border-radius: 4px;
            font-size: 16px;
            font-weight: 600;
            color: $primary-color;
            height: 100%;
            width: 100%;
            padding: 7px 16px;
            cursor: pointer;

            &:focus {
                outline: none;
            }
        }
    }

    .monthbtns {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 2px solid $light-grey-color;
        padding: 8px 4px;
        border-radius: 4px;

        .left {
            width: 16px;
            fill: $text-color;
            margin-right: 16px;
            cursor: pointer;
        }

        .right {
            width: 16px;
            fill: $text-color;
            transform: rotate(180deg);
            cursor: pointer;
        }

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 1px;
            height: 80%;
            background-color: $light-grey-color;
        }
    }
}

.timeline-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    justify-items: center;
    color: $text-color;
    margin-top: 50px;

    .dates {
        position: relative;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        font-weight: 500;
        font-size: 18px;
        width: 10px;
        z-index: 99;

        &__name {
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 4px;
        }

        .inactive-dates, .active-dates {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .active-dates {
            &::after {
                content: "";
                position: absolute;
                bottom: -44%;
                left: 50%;
                transform: translateX(-50%);
                background-color: $secondary-color;
                border-radius: 50%;
                width: 5px;
                height: 5px;
            }
        }

        &.currentDay {
            color: white;

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 300%;
                height: 140%;
                border-radius: 30px;
                background-color: $secondary-color;
                z-index: -1;
            }
        }

        .today-name {
            position: absolute;
            top: -90%;
            left: 50%;
            transform: translateX(-50%);
            color: $secondary-color;
            font-weight: 400;
            font-size: 16px;

            &::after {
                content: "";
                position: absolute;
                top: 98%;
                left: 50%;
                transform: translateX(-50%);
                background-color: $secondary-color;
                border-radius: 50%;
                width: 5px;
                height: 5px;
            }
        }
    }
}

.dayDisplay-container  {
    margin-top: 23px;
    position: relative;
    width: 100%;
    height: 420px;
    border-radius: 6px;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.096);
    background-color: $text-color;
    overflow: hidden;
    display: grid;
    grid-template-columns: 26px 1fr 26px;

    .navArrowLeft {
        background-color: $secondary-color;
        position: relative;
        grid-column: 1/2;

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            fill: white;
            width: 20px;
        }
    }

    .navArrowRight {
        background-color: $secondary-color;
        position: relative;
        grid-column: 3/4;

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(180deg);
            fill: white;
            width: 20px;
        }
    }

    .content {
        position: relative;
        display: grid;
        grid-template-rows: 36px repeat(4, 1fr);
        grid-template-columns: repeat(24, 200px);
        grid-column-gap: 1px;
        background-color: white;
        overflow-x: scroll;
        z-index: 1;

        .time-indicator {
            position: absolute;
            top: 30px;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 2px;
            background-color: $secondary-color;
            z-index: 20;

            &::before {
                content: "";
                position: absolute;
                top: 0px;
                left: 50%;
                transform: translateX(-50%);
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: $secondary-color;
                z-index: 99;
            }
        }

        .time {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            padding-left: 4px;
            font-weight: 600;
            background-color: $text-color;
            color: white;

            &::after {
                content: "";
                position: absolute;
                bottom: -384px;
                right: -1px;
                height: 400px;
                width: 1px;
                background-color: white;
                z-index: 2;
            }
        }

        .meal-container {
            position: relative;
            display: grid;
            grid-template-columns: repeat(24, 200px);
            grid-column-gap: 1px;
            grid-column: 1/-1;
            background-color: $text-color;
            color: white;
        }

        .meal-bg {
            position: absolute;
            left: 0;
            top: 0%;
            background-color: $dark-grey-color-2;
            width: 100%;
            height: 90%;
            z-index: 0;
        }

        .meal-progress {
            position: absolute;
            top: 0%;
            background-color: $primary-color;
            height: 90%;
            width: 100%;
            grid-column: 5/-1;
            z-index: 1;
        }

        .meal {
            position: relative;
            z-index: 99;
        }

        .meal-1 {
            position: relative;
            background-color: $primary-color;
            background-image: linear-gradient(0deg, rgb(0, 0, 0, 0.5) 0%, rgba(0,0,0,0) 35%,rgba(0, 0, 0, 0.5) 100%), url(../assets/demo-img/eiliv-sonas-aceron-776219-unsplash.png);
            background-size: fill;
            background-position: center;
            box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.096);
            padding: 4px 8px;
            width: 100%;
            height: 90%;
            border-radius: 6px;
            grid-column: 5/6;
            z-index: 40;

            h3 {
                color: $light-grey-color;
                font-size: 20px;
            }

            p {
                margin-top: 6px;
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
    
}