<template>
    <div class="addplan">
        <div class="mainDietDetails">
            <div class="dietType">
                <h3>Diet Type:</h3>
                <div class="dietType__selector">
                    <inline-svg
                        @click="dietsNavLeft"
                        :src="require('../assets/svg/arrow-left.svg')" 
                        class="arrow arrow-left"
                    ></inline-svg>
                    <div class="dietType__selector--diet">{{ getDietTypes[selectedDietType] }}</div>
                    <inline-svg
                        @click="dietsNavRight"
                        :src="require('../assets/svg/arrow-left.svg')" 
                        class="arrow arrow-right"
                    ></inline-svg>
                </div>
            </div>
            <div class="dietName">
                <label v-if="$v.planData.dietName.$error" for="dietName" class="dietName__label--error">Enter a valid plan name</label>
                <label v-else for="dietName" class="dietName__label">Diet Plan Name</label>
                <input type="text" class="dietName__input" v-model="planData.dietName" placeholder="Enter Diet Name">
                <p class="dietName__charAmount">{{ dietNameLength }}/16</p>
            </div>
            <div class="timeframe">
                <p v-if="$v.planData.startTime.$error" class="from from--error">Enter a start date:</p>
                <p v-else class="from">From</p>
                <div class="timeframe__fromTo">
                    <date-picker
                        v-model="planData.startTime"
                        is-dark
                        color="teal"
                        :available-dates='{
                            start: new Date(),
                            end: expDate()
                        }'
                    >
                        <input
                            slot-scope="{ inputProps, inputEvents }"
                            v-bind="inputProps"
                            v-on="inputEvents"
                            id="date"
                            class="timeframe__input text-center"
                        >
                    </date-picker>
                    <p>to</p>
                    <input disabled type="text" class="timeframe__input" v-model="planData.endDate">
                </div>
            </div>
        </div>
        <div class="userDetails">
            <div class="userDetails__info">
                <div class="userDetails__info--metrics">
                    <div class="row">
                        <div class="col">
                            <h4 class="section-title">Age</h4>
                            <input type="text" name="bodyfat" class="bodyfat" v-model="userDetails.age" :disabled="customData === false">
                        </div>
                        <div class="col">
                            <div class="height__container">
                                <h4 class="section-title">height (m)</h4>
                                <input name="height" class="height" v-model="userDetails.height" :disabled="customData === false">
                            </div>
                        </div>
                        <div class="col">
                            <div class="weightgoal__container">
                                <h4 class="section-title">Weight (kg)</h4>
                                <input type="text" name="weight" class="weight" v-model="userDetails.weight" :disabled="customData === false">
                            </div>
                        </div>
                        <div class="gender__container select">
                            <h4 class="section-title">Metrics</h4>
                            <select name="gender" class="gender-select" v-model="userDetails.gender" :disabled="customData === false">
                                <option selected disabled>Your Gender</option>
                                <option value="male">male</option>
                                <option value="female">female</option>
                            </select>
                        </div>
                    </div>
                    <div class="row dropdown-row">
                        <div class="metric__container select">
                            <h4 class="section-title">Metrics</h4>
                            <select name="metrics" class="select-1" :disabled="customData === false">
                                <option selected disabled>Choose a metric</option>
                                <option value="metric">Killograms/Grams</option>
                                <option value="imperial">Pounds/Ounces</option>
                            </select>
                        </div>
                        <div class="weightgoal__container select">
                            <h4 class="section-title">Goal</h4>
                            <select name="weightGoal" class="select goal" v-model="planData.goal">
                                <!-- <option value="Whats the goal?" selected disabled>Whats the goal?</option> -->
                                <option value="bulk">bulk</option>
                                <option value="maintain">maintain weight</option>
                                <option value="lose weight" selected>lose weight</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Allergies__container">
                <h4 class="section-title">Allergies</h4>
                <div class="checkbox__container">
                    <div class="checkbox" v-for="Allergent in getAllAllergents" :key="Allergent" @click="addAllergy(Allergent)">
                        <div class="checkmark">
                            <inline-svg
                                v-if="planData.allergies.includes(Allergent)"
                                :src="require('../assets/svg/checkmark-icon.svg')"
                            ></inline-svg>
                        </div>
                        <label for="diet">{{ Allergent }}</label>
                    </div>
                </div>
            </div>
            <div class="userDetails__stats">
                <h4 class="section-title">Daily Recommended Amounts</h4>
                <div class="macros">
                    <div class="macros__col">
                        <h4 class="title">Protein (g)</h4>
                        <p class="amount">{{ roundTotals(planData.macroTotals[selectedWeek - 1][`week_${selectedWeek}`][selectedDay - 1][`Day_${selectedDay}_totals`].protein) }}</p>
                        <input class="recom-amount" v-model="planData.dailyReq.protein" :disabled="planData.dietType !== 'Custom'">
                    </div>
                    <div class="macros__col">
                        <h4 class="title">Carbs (g)</h4>
                        <p class="amount">{{ roundTotals(planData.macroTotals[selectedWeek - 1][`week_${selectedWeek}`][selectedDay - 1][`Day_${selectedDay}_totals`].carbs) }}</p>
                        <input class="recom-amount" v-model="planData.dailyReq.carbs" :disabled="planData.dietType !== 'Custom'">
                    </div>
                    <div class="macros__col">
                        <h4 class="title">Fats (g)</h4>
                        <p class="amount">{{ roundTotals(planData.macroTotals[selectedWeek - 1][`week_${selectedWeek}`][selectedDay - 1][`Day_${selectedDay}_totals`].fats) }}</p>
                        <input class="recom-amount" v-model="planData.dailyReq.fats" :disabled="planData.dietType !== 'Custom'">
                    </div>
                    <div class="macros__col">
                        <h4 class="title">Calories:</h4>
                        <p class="amount">{{ roundTotals(planData.macroTotals[selectedWeek - 1][`week_${selectedWeek}`][selectedDay - 1][`Day_${selectedDay}_totals`].energy) }}</p>
                        <input class="recom-amount" v-model="planData.dailyReq.energy" :disabled="planData.dietType !== 'Custom'">
                    </div>
                </div>
            </div>
        </div>
        <div class="dietCalendarOverview">
            <div class="dietCalendarOverview__weeks-container">
                <div class="dietCalendarOverview__weeks-container__item" 
                    v-for="(week, index) in planData.weeks" 
                    :key="index" 
                    :class="{active: index + 1 === selectedWeek}"
                    @click="selectedWeek = index + 1"
                >
                    <p>Week {{ index + 1 }}</p>
                </div>
            </div>
            <div class="dietCalendarOverview__days-container" v-for="(week, index) in planData.weeks[selectedWeek - 1]" :key="index">
                <div class="dietCalendarOverview__days-container__item" 
                    v-for="(day, i) in week" :key="i" 
                    :class="{active: i + 1 === selectedDay}"
                    @click="selectedDay = i + 1"
                >
                    <div class="hovered-date" v-if="daysCounter > 0 && hoverDateActive && !DuplicatorActive && i === hoverDay && planData.startTime">
                        <span class="hovered-date__item">
                            {{ planData.dayDates[selectedWeek - 1][`week_${selectedWeek}`][i][`Day_${i + 1}_date`].substring(0, 5) }}
                             -
                            {{ curDayName(planData.dayDates[selectedWeek - 1][`week_${selectedWeek}`][i][`Day_${i + 1}_date`]) }} 
                        </span>
                    </div>
                    <span @mouseover="[(hoverDay = i), (hoverDateActive = true)]" @mouseleave="hoverDateActive = false">
                        Day {{ i + 1 }}
                    </span>
                    <div v-if="DuplicatorActive" @click="addMealToDay" class="duplicator__btn">
                        <p>Add</p>
                        <inline-svg :src="require('../assets/svg/addition-icon.svg')"></inline-svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="overviewMeal">
            <h1 v-if="planData.weeks[selectedWeek - 1][`week_${selectedWeek}`][selectedDay - 1][`Day_${selectedDay}`].length === 0">Click on the + icon to add a meal</h1>
            <div class="overviewMeal__container" v-for="(meal, index) in planData.weeks[selectedWeek - 1][`week_${selectedWeek}`][selectedDay - 1][`Day_${selectedDay}`]" :key="meal.meal.id">
                    <meal-card 
                        :name="meal.meal.name" 
                        :time="meal.meal.mealTime" 
                        :bgnum="index + 1"
                        v-bind:duplicatoractive="DuplicatorActive"
                        @openEditMealData="openEditMealModal(meal.meal)" 
                        @removeMealData="removeMealData(meal.meal)" 
                        @openDuplicator="openDuplicator(meal.meal)"
                        @closeDuplicator="closeDuplicator()"
                    />
            </div>
        </div>
        <div class="addMeal" @click="[(dropdownActive = !dropdownActive), (rmDropdownActive = false)]" :class="{rotate: dropdownActive}">
            <inline-svg :src="require('../assets/svg/addition-icon.svg')"></inline-svg>
        </div>
        <div class="dropdown" :class="{show: dropdownActive}">
            <ul class="dropdown__list">
                <li class="list-item" @click="newWeek">Add New Week</li>
                <li class="list-item" @click="addNewMealActive">Add A New Meal</li>
            </ul>
        </div>
        <div class="complete" @click="submitPlan">
            <inline-svg :src="require('../assets/svg/checkmark-icon.svg')"></inline-svg>
        </div>
        <div class="removeplan" @click="[(rmDropdownActive = !rmDropdownActive), (dropdownActive = false)]" :class="{rotate: rmDropdownActive}">
            <inline-svg :src="require('../assets/svg/trash-icon.svg')"></inline-svg>
        </div>
        <div class="rmDropdown" :class="{show: rmDropdownActive}">
            <ul class="dropdown__list">
                <li class="list-item" @click="removeWeek">Remove A Week</li>
                <li class="list-item" @click="discardPlan">Discard This Plan</li>
            </ul>
        </div>
        <newMeal 
            v-if="MealCreateActive"
            @addMeal="addMeal" 
            :allergies="this.planData.allergies" 
            :dietType="planData.dietType" 
            @close="MealCreateActive = false"
        />
        <editCurMeal 
            v-if="MealEditActive" 
            :key="selectedMeal.id"
            :id="selectedMeal.id"
            @updateMeal="updateMeal"
            :allergies="this.planData.allergies" 
            :selectedMealProducts="selectedMeal.selectedProducts"
            :totals="selectedMeal.totals"
            :time="selectedMeal.mealTime"
            :name="selectedMeal.name" 
            :dietType="planData.dietType"
            @close="MealEditActive = false"
        />
    </div>
</template>

<script>
import { required, minLength } from 'vuelidate/lib/validators'
import { mapGetters} from 'vuex'

import MealCard from '../components/AddPlanMealCard'
import NewMeal from '../components/AddNewMeal'
import EditCurMeal from '../components/EditCurMeal'

export default {
    data () {
        return {
            planData: {
                dietName: "",
                weeks: [],
                dayDates: [],
                macroTotals: [],
                allergies: [],
                dailyReq: {
                    protein: 0,
                    carbs: 0,
                    fats: 0,
                    energy: 0
                },
                dietType: "",
                goal: "lose weight",
                startTime: null,
                endDate: null,
            },
            selectedWeek: 1,
            selectedDay: 1,
            customData: true,
            selectedDietType: 0,
            dropdownActive: false,
            rmDropdownActive: false,
            MealCreateActive: false,
            MealEditActive: false,
            DuplicatorActive: false,
            userDetails: {
                height: 0,
                weight: 0,
                age: 0,
                gender: 'male'
            },
            selectedMeal: {},
            daysCounter: 0,
            hoverDateActive: false,
            days: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
        }
    },

    components: {
        MealCard,
        NewMeal,
        EditCurMeal
    },

    beforeMount () {
        this.dietType()
    },

    mounted () {
        //init weeks & days
        for (let j = 0; j < 6; j++) {
            this.newWeek()
        }

        // get products from db
        this.$store.dispatch('getProductsFromDB')

        // Preset User Data
        this.userDetails.weight = parseFloat(this.getAllUserData.weight)
        this.userDetails.age = this.getAge(this.getAllUserData.dob)

        // for incase of refresh
        this.DuplicatorActive = false
    },

    validations: {
        planData: {
            dietName: {
                required,
                min: minLength(2)
            },
            startTime: {
                required
            }
        },
    },

    methods: {
        dietsNavLeft () {
            if (this.selectedDietType === 0) {
                this.selectedDietType = this.getDietTypes.length -1
            } else {
                this.selectedDietType--
            }
        },

        dietsNavRight () {
            if (this.selectedDietType === this.getDietTypes.length -1) {
                this.selectedDietType = 0
            } else {
                this.selectedDietType++
            }
        },

        newWeek () {
            let weekName = `week_${this.planData.weeks.length + 1}`
            let week = {
                [weekName]: []
            }
            this.planData.weeks.push(week)
            for (let i = 1; i < 8; i++) {
                this.planData.weeks[this.planData.weeks.length - 1][weekName].push({[`Day_${i}`]: []})
            }
            this.newDailyTotals()
            this.endOfPlan()
            this.newDayDate()
        },

        removeWeek () {
            this.planData.weeks.pop()
            this.planData.macroTotals.pop()
            this.endOfPlan()
            this.daysCounter--
            this.planData.dayDates.pop()
        },

        addMeal (meal) {
            console.log(meal)
            const week = this.selectedWeek - 1
            const weekName = `week_${this.selectedWeek}`
            const day = this.selectedDay - 1
            const dayName = `Day_${this.selectedDay}`
            this.planData.weeks[week][weekName][day][dayName].push({meal})
            this.MealCreateActive = false
            this.addDailyTotals()
        },

        updateMeal (meal) {
            console.log(this)
            const week = this.selectedWeek - 1
            const weekName = `week_${this.selectedWeek}`
            const day = this.selectedDay - 1
            const dayName = `Day_${this.selectedDay}`
            const updatedMeal = {meal: meal}
            const index = this.planData.weeks[week][weekName][day][dayName].findIndex(selectMeal => {
                console.log(selectMeal.meal.id)
                return selectMeal.meal.id === meal.id
            })
            this.planData.weeks[week][weekName][day][dayName].splice(index, 1, updatedMeal)
            this.MealEditActive = false
            this.addDailyTotals()
        },


        newDailyTotals () {
            const weekName = `week_${this.planData.macroTotals.length + 1}`
            const week = {
                [weekName]: []
            }
            this.planData.macroTotals.push(week)

            for (let i = 1; i < 8; i++) {
                this.planData.macroTotals[this.planData.macroTotals.length - 1][weekName].push({[`Day_${i}_totals`]: {
                    protein: 0,
                    carbs: 0,
                    fats: 0,
                    energy: 0
                }})
            }
        },

        newDayDate () {
            const weekName = `week_${this.planData.dayDates.length + 1}`
            const week = {
                [weekName]: []
            }
            this.planData.dayDates.push(week)

            for (let i = 1; i < 8; i++) {
                this.daysCounter++
                this.planData.dayDates[this.planData.dayDates.length - 1][weekName].push({[`Day_${i}_date`]: `${this.datePerDay(this.daysCounter)}`})
            }
        },

        addDailyTotals () {
            const week = this.selectedWeek - 1
            const weekName = `week_${this.selectedWeek}`
            const day = this.selectedDay - 1
            const dayName = `Day_${this.selectedDay}_totals`
            const dayArrName = `Day_${this.selectedDay}`
            const selectedDayTotals = this.planData.macroTotals[week][weekName][day][dayName]
            const mealArr =  this.planData.weeks[week][weekName][day][dayArrName]
            selectedDayTotals.protein = mealArr.reduce((acc, meal) => {
                return acc + meal.meal.totals.protein
            }, 0)
            selectedDayTotals.carbs = mealArr.reduce((acc, meal) => {
                return acc + meal.meal.totals.carbs
            }, 0)
            selectedDayTotals.fats = mealArr.reduce((acc, meal) => {
                return acc + meal.meal.totals.fats
            }, 0)
            selectedDayTotals.energy = mealArr.reduce((acc, meal) => {
                return acc + meal.meal.totals.energy
            }, 0)
        },

        submitPlan () {
            this.$v.$touch()
            if (this.$v.$invalid) {
                alert('some fields are still required')
            } else {
                this.$store.dispatch('submitDietPlan', this.planData)
                    .then(() => {
                        this.$router.replace('/diets')
                    })
            }
        },

        discardPlan () {
            this.$router.replace('/dashboard')
        },

        addAllergy (allergy) {
            if (this.planData.allergies.includes(allergy)) {
                const index = this.planData.allergies.indexOf(allergy)
                this.planData.allergies.splice(index, 1)
            } else {
                this.planData.allergies.push(allergy)
            }
        },

        getAge (dateString) {
            var today = new Date();
            var birthDate = new Date(dateString);
            var age = today.getFullYear() - birthDate.getFullYear();
            var m = today.getMonth() - birthDate.getMonth();
            if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
                age--;
            }
            return age;
        },

        calcBRM () {
            if (this.userDetails.gender === 'male') {
                this.planData.dailyReq.energy = parseInt(66.47 + ( 13.75 * this.userDetails.weight) + ( 5.003 * (this.userDetails.height * 100)) - ( 6.755 * this.userDetails.age))
            } else if (this.userDetails.gender === 'female'){
                this.planData.dailyReq.energy = parseInt(655.1 + ( 9.563 * this.userDetails.weight) + ( 1.85 * (this.userDetails.height * 100)) - ( 4.676 * this.userDetails.age))
            }
        },

        dietType () {
            const allDietTypes = this.getDietTypes[this.selectedDietType]
            this.planData.dietType = allDietTypes
            this.$store.commit('SET_SEARCH_PARAMS', allDietTypes)
        },

        openEditMealModal (meal) {
            const index = this.planData.weeks[this.selectedWeek - 1][`week_${this.selectedWeek}`][this.selectedDay - 1][`Day_${this.selectedDay}`].findIndex(selectedMeal => {
                return selectedMeal.meal.id === meal.id
            })
            this.selectedMeal = (this.planData.weeks[this.selectedWeek - 1][`week_${this.selectedWeek}`][this.selectedDay - 1][`Day_${this.selectedDay}`][index].meal)
            this.MealEditActive = true
        },

        removeMealData (meal) {
            const index = this.planData.weeks[this.selectedWeek - 1][`week_${this.selectedWeek}`][this.selectedDay - 1][`Day_${this.selectedDay}`].findIndex(selectedMeal => {
                return selectedMeal.meal.id === meal.id
            })
            this.planData.weeks[this.selectedWeek - 1][`week_${this.selectedWeek}`][this.selectedDay - 1][`Day_${this.selectedDay}`].splice(index, 1)
            this.clearTotals()
        },

        // Timeframe in which a plan can be started
        expDate () {
            const now = new Date()
            const day = now.getDate()
            const month = now.getMonth()
            const year = now.getFullYear() + 2
            return new Date(year, month, day)
        },

        // Calc date per day
        datePerDay () {
            const start = new Date(this.planData.startTime).toISOString().substring(0, 10);

            const addDays = () => {
                var result = new Date(start);
                result.setDate(result.getDate() + this.daysCounter);
                return result;
            }

            const format = (start) => {
                let now = new Date(start),
                    month = '' + (now.getMonth() + 1),
                    day = '' + now.getDate(),
                    year = now.getFullYear();

                if (month.length < 2) 
                    month = '0' + month;
                if (day.length < 2) 
                    day = '0' + day;

                return [day, month, year].join('/');
            }

            return format(addDays())
        },

        // End of diet plan date
        endOfPlan () {
            if (!this.planData.startTime) {
                return
            } else {
                const start = new Date(this.planData.startTime).toISOString().substring(0, 10);
                const dietLength = this.planData.weeks.length * 7

                const addDays = (date, days) => {
                    var result = new Date(date);
                    result.setDate(result.getDate() + days);
                    return result;
                }

                const format = (date) => {
                    let now = new Date(date),
                        month = '' + (now.getMonth() + 1),
                        day = '' + now.getDate(),
                        year = now.getFullYear();

                    if (month.length < 2) 
                        month = '0' + month;
                    if (day.length < 2) 
                        day = '0' + day;

                    return [day, month, year].join('/');
                }

                this.planData.endDate = format(addDays(start, dietLength))
            }
        },

        // Clear totals if no meals in selected day
        clearTotals () {
            const week = this.selectedWeek - 1
            const weekName = `week_${this.selectedWeek}`
            const day = this.selectedDay - 1
            const dayName = `Day_${this.selectedDay}_totals`
            if (this.planData.weeks[this.selectedWeek - 1][`week_${this.selectedWeek}`][this.selectedDay - 1][`Day_${this.selectedDay}`].length === 0) {
                Object.keys(this.planData.macroTotals[week][weekName][day][dayName]).forEach(key => {
                    return this.planData.macroTotals[week][weekName][day][dayName][key] = 0
                })
            } else {
                this.addDailyTotals()
            }
        },

        openDuplicator (meal) {
            const index = this.planData.weeks[this.selectedWeek - 1][`week_${this.selectedWeek}`][this.selectedDay - 1][`Day_${this.selectedDay}`].findIndex(selectedMeal => {
                return selectedMeal.meal.id === meal.id
            })
            this.selectedMeal = (this.planData.weeks[this.selectedWeek - 1][`week_${this.selectedWeek}`][this.selectedDay - 1][`Day_${this.selectedDay}`][index].meal)
            this.DuplicatorActive = true
        },

        addMealToDay () {
            const meal = JSON.parse(JSON.stringify(this.selectedMeal))
            meal.id = this.randomString(18)
            this.planData.weeks[this.selectedWeek - 1][`week_${this.selectedWeek}`][this.selectedDay - 1][`Day_${this.selectedDay}`].push({meal})
            this.addDailyTotals()
        },

        closeDuplicator () {
            this.DuplicatorActive = false;
        },
        
        curDayName (date) {
            let curDate = `${date}`
            const year = curDate.split("/")[2]
            const month = curDate.split("/")[1]
            const day = curDate.split("/")[0]
            const curDay = new Date(year, month - 1, day).getDay()
            return curDay === 0 ? this.days[6] : this.days[curDay - 1]
        },

        roundTotals (total) {
            return parseFloat(parseFloat(total).toFixed(1))
        },

        addNewMealActive () {
            this.MealCreateActive = true
            this.$store.commit('CLEAR_MEAL_DATA')
        },

        randomString (length) {
            const chars = '0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz_+-,./'.split('');
            if (! length) {
                length = Math.floor(Math.random() * chars.length);
            }
            let str = '';
            for (var i = 0; i < length; i++) {
                str += chars[Math.floor(Math.random() * chars.length)];
            }
            return str;
        },
    },

    computed: {
        ...mapGetters([
            'getDietTypes',
            'getAllAllergents',
            'getAllUserData'
        ]),

        dietNameLength () {
            return this.planData.dietName.length
        },

    },

    watch: {
        'planData.dietName' () {
            if (this.planData.dietName.length > 16) {
                this.planData.dietName = this.planData.dietName.slice(0, 16)
            }
        },

        userDetails: {
            handler () {
                this.calcBRM()
            },
            deep: true
        },

        selectedDietType: {
            handler () {
                this.dietType()
                this.$store.dispatch('getProductsFromDB', 'withParams')
            },
            immediate: true
        },

        'planData.allergies' () {
            this.$store.dispatch('getAllergyParamProducts', this.planData.allergies)
                .then(() => {
                    this.$store.dispatch('setAllergyParamProducts')
                })
        },

        'planData.startTime' () {
            this.daysCounter = 0
            this.planData.dayDates = []
            this.endOfPlan()
            for (let j = 0; j < this.planData.weeks.length; j++) {
                this.newDayDate()
            }
            this.datePerDay()
            this.curDayName()
        }
    }
}
</script>

<style lang="scss" scoped>
    @import '../scss/viewStyles/AddPlan.scss';
</style>