<template>
    <div v-if="!completed" class="addproduct">
        <div class="addproduct__topbar">
            <router-link tag="button" to="dashboard" class="discard-btn" @click="resetDetails">Discard Product</router-link>
        </div>
        <div class="addproduct__productName">
            <label class="addproduct__productName--label">Product/Meal Name:</label>
            <input type="text" class="addproduct__productName--input" v-model="product.name" placeholder="My Product Name">
            <p class="addproduct__productName--totalChar">{{ !product.name ? '0' : product.name.length }}/30</p>
        </div>
        <div class="addproduct__body">
            <div class="row-1">
                <div class="addproduct__section">
                    <h3 class="addproduct__section--heading">Serving & Energy</h3>
                    <div class="side-by-side">
                        <div class="addproduct__section--input">
                            <label for="energy">Energy (cal)</label>
                            <input type="text" name="energy" v-model="product.energy">
                        </div>
                        <div class="addproduct__section--input">
                            <label for="serving">Serving Size (g)</label>
                            <input type="text" name="serving" v-model="product.servingSize">
                        </div>
                    </div>
                </div>
                <div class="addproduct__section">
                    <h3 class="addproduct__section--heading">Macro's</h3>
                    <div class="side-by-side">
                        <div class="addproduct__section--input">
                            <label for="protein">Protein (g)</label>
                            <input type="energy" name="protein" v-model="product.macros.protein">
                        </div>
                        <div class="addproduct__section--input">
                            <label for="carbs">Carbs (g)</label>
                            <input type="text" name="carbs" v-model="product.macros.carbs">
                        </div>
                    </div>
                    <div class="side-by-side">
                        <div class="addproduct__section--input">
                            <label for="fats">Fats (g)</label>
                            <input type="text" name="fats" v-model="product.macros.fats">
                        </div>
                        <div class="addproduct__section--input">
                            <label for="fibre">Dietary Fibre (g)</label>
                            <input type="text" name="fibre" v-model="product.macros.fibre">
                        </div>
                    </div>
                </div>
                <div class="addproduct__section">
                    <h3 class="addproduct__section--heading">Micro's</h3>
                    <div class="addproduct__section--input">
                        <label for="micros">{“name”: “ ‘amount’ mg”,}</label>
                        <textarea type="name" name="micros" v-model="micros"></textarea>
                    </div>
                </div>
            </div>
            <div class="row-2">
                <div class="addproduct__section">
                    <h3 class="addproduct__section--heading">Works well with Diet:</h3>
                    <div class="addproduct__section--checkbox" v-for="dietType in getDietTypes" :key="dietType" @click="addDietType(dietType)">
                        <div class="checkmark">
                            <inline-svg
                                v-if="product.dietTypeName.includes(dietType)"
                                :src="require('../assets/svg/checkmark-icon.svg')"
                            ></inline-svg>
                        </div>
                        <label for="diet">{{ dietType }}</label>
                    </div>
                </div>
                <div class="addproduct__section">
                    <h3 class="addproduct__section--heading">Possible Allergents</h3>
                    <div class="alongside">
                        <div class="addproduct__section--checkbox" v-for="Allergent in getAllAllergents" :key="Allergent" @click="addAllergy(Allergent)">
                            <div class="checkmark">
                                <inline-svg
                                    v-if="product.allergies.includes(Allergent)"
                                    :src="require('../assets/svg/checkmark-icon.svg')"
                                ></inline-svg>
                            </div>
                            <label for="diet">{{ Allergent }}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-3">
                <h3 class="addproduct__section--heading">Product Image: (.jpg)</h3>
                <div class="addproduct__upload">
                    <img :src="imagePreview" class="preview-img" @click="openUpload">
                    <input ref="fileUploadInput" name="uploadimg" type="file" accept="image/jpg" id="file-input" @change="updatePreview" style="display:none">
                    <button @click="openUpload" class="uploadimg">
                        <inline-svg
                            :src="require('../assets/svg/pencil.svg')"
                        ></inline-svg>
                        Upload Image
                    </button>
                </div>
            </div>
            <button class="doneBtn" @click="submit">
                <inline-svg
                    :src="require('../assets/svg/checkmark-icon.svg')"
                ></inline-svg>
            </button>
        </div>
    </div>
    <div v-else class="completed">
        <div class="completed__container">
            <h3>Product has been added to the database!</h3>
            <div class="completed__btns">
                <router-link tag="button" to="dashboard">Go To Dashboard</router-link>
                or
                <button @click="resetDetails">Add Another Product</button>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex'
    export default {
        data () {
            return {
                imagePreview: "",
                micros: '',
                completed: false,
                product: {
                    name: "",
                    servingSize: "",
                    dietTypeName: [],
                    allergies: [],
                    energy: "",
                    macros: {
                        protein: "",
                        carbs: "",
                        fats: "",
                        fibre: ""
                    },
                    micros: {},
                    type: "product"
                }
            }
        },

        computed: {
            ...mapGetters([
                'getDietTypes',
                'getAllAllergents'
            ])
        },

        methods: {
            openUpload () {
                this.$refs.fileUploadInput.click()
            },

            updatePreview (e) {
                let reader
                const files = e.target.files

                if (files.length === 0) {
                    return
                }

                reader = new FileReader()
                reader.onload = (e) => {
                    this.imagePreview = e.target.result
                }

                reader.readAsDataURL(files[0])
            },

            addDietType (diet) {
                if (this.product.dietTypeName.includes(diet)) {
                    const index = this.product.dietTypeName.indexOf(diet)
                    this.product.dietTypeName.splice(index, 1)
                } else {
                    this.product.dietTypeName.push(diet)
                }
            },

            addAllergy (allergy) {
                if (this.product.allergies.includes(allergy)) {
                    const index = this.allergies.indexOf(allergy)
                    this.product.allergies.splice(index, 1)
                } else {
                    this.product.allergies.push(allergy)
                }
            },

            stringToObject () {
                const micros = JSON.parse(this.micros)
                this.product.micros = micros
            },

            submit () {
                this.stringToObject()
                this.$store.dispatch('registerNewProduct', this.product)
                this.completed = true
            },

            resetDetails () {
                Object.keys(this.product).forEach(index => {
                    this.product[index] = ""
                })
                this.completed = false
            }
        },

        watch: {
            'product.name' () {
                if (this.product.name.length > 30) {
                    this.product.name = this.product.name.slice(0, 30)
                } 
                return
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import '../scss/viewStyles/AddProducts.scss';
</style>