<template>
    <div class="calculators">
        <h2 class="page-header">Health Calculators (BMI & BMR)</h2>
        <div class="calculators__body">
            <div class="age">
                <h4 class="age__title">Age</h4>
                <input class="age__userAge paragraph" type="number" v-model.number="formData.age">
                <div class="toggle-btns">
                    <inline-svg
                        class="addminusBtns"
                        @click="add('age')"
                        :src="require('../assets/svg/addition-icon.svg')"
                    ></inline-svg>
                    <div class="btn-seperator"></div>
                    <inline-svg
                        class="addminusBtns"
                        @click="deduct('age')"
                        :src="require('../assets/svg/minus-icon.svg')"
                    ></inline-svg>
                </div>
            </div>
            <div class="weight">
                <h4 class="weight__title">Weight (kg)</h4>
                <input class="weight__userWeight paragraph" type="number" v-model.number="formData.weight">
                <div class="toggle-btns">
                    <inline-svg
                        class="addminusBtns"
                        @click="add('weight')"
                        :src="require('../assets/svg/addition-icon.svg')"
                    ></inline-svg>
                    <div class="btn-seperator"></div>
                    <inline-svg
                        class="addminusBtns"
                        @click="deduct('weight')"
                        :src="require('../assets/svg/minus-icon.svg')"
                    ></inline-svg>
                </div>
            </div>
            <div class="height">
                <h4 class="height__title">Height (m)</h4>
                <div class="height__body">
                    <inline-svg
                        class="addminusBtns"
                        @click="add('height')"
                        :src="require('../assets/svg/addition-icon.svg')"
                    ></inline-svg>
                    <div class="height__container">
                        <p class="height__oneDown paragraph">{{ (formData.height - 0.01 ).toFixed(2) }}</p>
                        <input class="height__userHeight paragraph" type="number" v-model.number="formData.height">
                        <p class="height__oneUp paragraph">{{ (formData.height + 0.01).toFixed(2) }}</p>
                    </div>
                    <inline-svg
                        class="addminusBtns"
                        @click="deduct('height')"
                        :src="require('../assets/svg/minus-icon.svg')"
                    ></inline-svg>
                </div>
            </div>
            <div class="gender">
                <h4 class="gender__title">Gender</h4>
                <div class="gender__container">
                    <p class="gender__gender">Male</p>
                    <div class="gender__btns">
                        <button class="togglebtn" :class="{active: formData.gender === 'male'}" @click="formData.gender = 'male'">
                            <inline-svg
                                :src="require('../assets/svg/male-icon.svg')"
                            ></inline-svg>
                        </button>
                        <button class="togglebtn" :class="{active: formData.gender === 'female'}"  @click="formData.gender = 'female'">
                            <inline-svg
                                :src="require('../assets/svg/female-icon.svg')"
                            ></inline-svg>
                        </button>
                    </div>
                    <p class="gender__gender">Female</p>
                </div>
            </div>
            <div class="results">
                <div v-if="!calculated" class="beforeCalc">
                    <h1 class="beforeCalc__title">Click here to see your BMI and BMR results!</h1>
                    <button class="beforeCalc__btn" @click="calculateInKg">Calculate</button>
                </div>
                <div v-else class="afterCalc">
                    <h3 class="bmiResult">BMI = {{ bmiResult }} kg/m2</h3>
                    <p class="bmiClass" :class="color">{{ bmiStatus }}</p>
                    <p class="healthyRange">Healthy BMI range: 18.5 kg/m2 - 25 kg/m2</p>
                    <p class="healtyWeight">The ideal body weight for your height: {{ formData.gender === 'male' ? healthyMaleWeight : healthyFemaleWeight}}kg</p>
                    <p class="bmrResult">BMR = {{ formData.gender === 'male' ? bmrMaleresults : bmrFemaleresults }} Calories/day</p>
                    <div class="bmrRequirements">
                        <h3 class="bmrRequirements__heading">Activity Levels</h3>
                        <h3 class="bmrRequirements__heading">Daily Calorie needs</h3>
                        <p>Little or no exercise</p>
                        <p>{{ formData.gender === 'male' ? (bmrMaleresults * 1.2).toFixed(1) : (bmrFemaleresults * 1.2).toFixed(1) }}</p>
                        <p>Light exercise or sports 1-3 days/week</p>
                        <p>{{ formData.gender === 'male' ? (bmrMaleresults * 1.375).toFixed(1) : (bmrFemaleresults * 1.375).toFixed(1) }}</p>
                        <p>Moderate exercise 3-5 days/week</p>
                        <p>{{ formData.gender === 'male' ? (bmrMaleresults * 1.55).toFixed(1) : (bmrFemaleresults * 1.55).toFixed(1) }}</p>
                        <p>Hard exercise 6-7 days/week</p>
                        <p>{{ formData.gender === 'male' ? (bmrMaleresults * 1.725).toFixed(1) : (bmrFemaleresults * 1.2).toFixed(1) }}</p>
                        <p>Very hard exercise and a physical job</p>
                        <p>{{ formData.gender === 'male' ? (bmrMaleresults * 1.9).toFixed(1) : (bmrFemaleresults * 1.9).toFixed(1) }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                formData: {
                    age: 24,
                    height: 1.74,
                    weight: 104,
                    gender: "male"
                },
                calculated: false,
                bmiResult: null,
                color: "",
                bmiStatus: ""
            }
        },

        methods: {
            add (button) {
                if (button === 'height') {
                    this.formData.height = parseFloat(((this.formData.height*1) + 0.010).toFixed(2))
                } else if (button === 'age') {
                    this.formData.age = parseFloat(((this.formData.age*1) + 1))
                } else if (button === 'weight') {
                    this.formData.weight = parseFloat(((this.formData.weight*1) + 0.1).toFixed(1))
                }
            },

            deduct (button) {
                if (button === 'height') {
                    this.formData.height = parseFloat(((this.formData.height*1) - 0.010).toFixed(2))
                } else if (button === 'age') {
                    this.formData.age = parseFloat(((this.formData.age*1) - 1))
                } else if (button === 'weight') {
                    this.formData.weight = parseFloat(((this.formData.weight*1) - 0.1).toFixed(1))
                }
            },

            calculateInKg () {
                this.bmiResult = (this.formData.weight/Math.pow(this.formData.height, 2)).toFixed(1)
                this.calculated = true
            },

            bmiClass () {
                if (this.bmiResult <= 18.5) {
                    this.color = 'yellow'
                    this.bmiStatus = 'Underweight'
                } else if (this.bmiResult >= 18.5 && this.bmiResult <= 24.9) {
                    this.color = 'green'
                    this.bmiStatus = 'Normal Weight'
                } else if (this.bmiResult <= 30 && this.bmiResult >= 25) {
                    this.color = 'yellow'
                    this.bmiStatus = 'Overweight'
                } else if (this.bmiResult >= 30) {
                    this.color = 'red'
                    this.bmiStatus = 'Obese'
                }
            },
        },

        computed: {
            healthyMaleWeight () {
                let toFeet = ((this.formData.height * 100) / 30.48).toFixed(1)
                let inchRemain = (toFeet - 5) * 10
                return (50 + (2.3 * inchRemain)).toFixed(1)
            },

            healthyFemaleWeight () {
                let toFeet = ((this.formData.height * 100) / 30.48).toFixed(1)
                let inchRemain = (toFeet - 5) * 10
                return (45.5 + (2.3 * inchRemain)).toFixed(1)
            },

            bmrFemaleresults () {
                return (655.1 + ( 9.563 * this.formData.weight) + ( 1.85 * (this.formData.height * 100)) - ( 4.676 * this.formData.age)).toFixed(1)
            },

            bmrMaleresults () {
                return (66.47 + ( 13.75 * this.formData.weight) + ( 5.003 * (this.formData.height * 100)) - ( 6.755 * this.formData.age)).toFixed(1)
            }
        },

        watch: {
            formData: {
                handler () {
                    if (this.calculated) {
                        this.calculateInKg()
                        this.bmiClass()
                    } else {
                        return
                    }
                },
                deep: true
            },

            calculated () {
                this.bmiClass()
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import '../scss/viewStyles/Calculators.scss';
</style>