<template>
    <div class="main-dash">
        <dash-navbar/>
        <sidebar></sidebar>
        <div class="main-dash__content">
            <transition name="dash-view-slide">
                <router-view></router-view>
            </transition>
        </div>
    </div>
</template>

<script>
    import '../scss/viewStyles/dashboard.scss'
    import Sidebar from '../components/DashSidebar'
    import Navbar from '../components/Navbar'

    export default {
        components: {
            Sidebar,
            DashNavbar: Navbar
        }
    }
</script>

<style scoped>

</style>