<template>
    <div class="diets">
        <div class="diets__topbar">
            <div class="diets__toggle">
                <button class="diets__toggle--btn" @click="[(planView = 'OwnDiets'), viewNumber = 1]" :class="{active: planView === 'OwnDiets'}">Own Plans</button>
                <button class="diets__toggle--btn" @click="[(planView = 'ProDiets'), viewNumber = 2]" :class="{active: planView === 'ProDiets'}">Pro Plans</button>
            </div>
            <div class="diets__topbar--right">
                <button class="add-btn one" :disabled="planView === 'predesigned'">
                    <inline-svg :src="require('../assets/svg/plus-symbol.svg')" class="add-icon"></inline-svg>
                    Add Diet Plan
                </button>
                <button class="export-btn">
                    <inline-svg :src="require('../assets/svg/export.svg')" class="export-icon"></inline-svg>
                    Export Multiple
                </button>
            </div>
        </div>
        <div class="diets__container">
            <keep-alive>
                <component :is="currentView"></component>
            </keep-alive>
        </div>
    </div>
</template>

<script>
    import OwnDiets from '../components/OwnDiets'
    import ProDiets from '../components/ProDiets'

    export default {
        data () {
            return {
                planView: 'OwnDiets',
                views: [
                    'OwnDiets',
                    'ProDiets'
                ],
                viewNumber: 1
            }
        },

        components: {
            OwnDiets,
            ProDiets
        },

        computed: {
            currentView () {
                return this.views[this.viewNumber - 1]
            },
        }
    }
</script>

<style lang="scss" scoped>
    @import '../scss/viewStyles/Diets.scss';
</style>