<template>
    <div class="messanger">
        <div class="topBar">
            <div class="search">
                <inline-svg :src="require('../assets/svg/search.svg')" class="search__icon"></inline-svg>
                <input type="text" placeholder="Search in Messages..." class="search__input">
            </div>
            <div class="currentChat">
                <div class="currentChat__name">Jane Clark</div>
                <div class="currentChat__status" :class="{online: isOnline}">{{ isOnline ? 'Online' : 'Offline' }}</div>
            </div>
        </div>
        <div class="activeChats">
            <div class="activeChats__chats">
                <div v-for="(chat, index) in chats" :key="index">
                    <active-chat
                        :name="chat.name"
                        :status="chat.status"
                        :timeStamp="chat.timeStamp"
                        :message="chat.message"
                        :image="chat.image"
                    />
                </div>
            </div>
            <div class="contacts">
                <div class="contacts__myContacts">
                    <inline-svg :src="require('../assets/svg/contacts.svg')"></inline-svg>
                </div>
                <div class="contacts__pro">
                    <inline-svg :src="require('../assets/svg/proContact.svg')"></inline-svg>
                </div>
                <div class="contacts__activeChats active">
                    <inline-svg :src="require('../assets/svg/chatBubble.svg')"></inline-svg>
                </div>
            </div>
        </div>
        <div class="chatBody">
            <div class="chatBody__chat-time">Chat started 21/04/2020</div>
            <div class="chatBody__chatting-to">
                <p class="message">Hi! I’ve been following your progress for a while now. I’m a big fan!</p>
                <img src="../assets/demo-img/pp.jpeg" alt="user icon">
            </div>
            <div class="chatBody__your-message">
                <p class="message">Hi! I’ve been following your progress for a while now. I’m a big fan!</p>
                <img src="../assets/demo-img/pp.jpeg" alt="user icon">
            </div>
        </div>
        <div class="message">
            <inline-svg class="message__attach" :src="require('../assets/svg/attach-icon.svg')"></inline-svg>
            <input class="message__input" type="text" placeholder="Type your message...">
            <inline-svg class="message__submit" :src="require('../assets/svg/sendArrow-icon.svg')"></inline-svg>
        </div>
    </div>
</template>

<script>
    import ActiveChat from '../components/ActiveChat'

    export default {
        data () {
            return {
                isOnline: true,
                chats: [
                    {
                        name: "Jane Clark",
                        status: "offline",
                        timeStamp: "12:45",
                        message: "I’m killing it! How’s your diet going?",
                        // image: "../assets/demo-img/pp.jpeg"
                    },
                    {
                        name: "Donna Silver",
                        status: "offline",
                        timeStamp: "18:21",
                        message: "I’ve attached the diet I used for my previous competition.",
                        // image: "../assets/demo-img/pp.jpeg"
                    },
                    {
                        name: "Jamie Fargo",
                        status: "offline",
                        timeStamp: "12:12",
                        message: "I see there’s a new pro diet plan out! Spoiler alert - It’s keto time!",
                        // image: "../assets/demo-img/pp.jpeg"
                    },
                    {
                        name: "Jane Clark",
                        status: "offline",
                        timeStamp: "12:45",
                        message: "I’m killing it! How’s your diet going?",
                        // image: "../assets/demo-img/pp.jpeg"
                    },
                    {
                        name: "Jane Clark",
                        status: "offline",
                        timeStamp: "12:45",
                        message: "I’m killing it! How’s your diet going?",
                        // image: "../assets/demo-img/pp.jpeg"
                    }
                ]
            }
        },

        components: {
            ActiveChat
        }
    }
</script>

<style lang="scss" scoped>
    @import '../scss/viewStyles/Messages.scss';
</style>