<template>
    <div v-if="getUserOwnDiets" class="overview">
        <div class="overview__nav">
            <div class="overview__nav--left">
                <h2 class="page-header">Dashboard </h2>
                <span class="seperator"> | </span>
                <h3><span class="blue">{{ getUserOwnDiets.length }}</span> Diet Plans </h3>
                <span class="seperator"> | </span>
                <router-link tag="button" to="diets"> See All Diet Plans</router-link>
            </div>
            <div class="overview__toggle">
                <div class="overview__toggle--btnback btnback"></div>
                <router-link tag="button" active-class="active" exact to="/dashboard" class="overview__toggle--btn one">Overview</router-link>
                <router-link tag="button" active-class="active" exact to="/dashboard/timeline" class="overview__toggle--btn">Timeline</router-link>
            </div>
        </div>
        <div class="topbar">
            <div class="topbar__left">
                <select name="choosePlan" class="choosePlan">
                    <option v-for="plan in getUserOwnDiets" :key="plan.id" :value="plan.id">{{ plan.id }}</option>
                </select>  
            </div>
            <div class="topbar__right">
                <button class="topbar__btn">
                    <inline-svg :src="require('../assets/svg/export.svg')" class="topbar__btn--icon"></inline-svg>
                    Export Plan
                </button>
                <router-link tag="button" to="addplan" class="topbar__btn">
                    <inline-svg :src="require('../assets/svg/plus-symbol.svg')" class="topbar__btn--icon"></inline-svg>
                    Add New Plan
                </router-link>
            </div>
        </div>
        <transition name="slide-down">
            <router-view></router-view>
        </transition>
    </div>
    <div v-else>
        No diets to display
    </div>
</template>

<script>
    import { mapGetters } from 'vuex'
    import '../scss/viewStyles/Overview.scss'

    export default {
        computed: {
            ...mapGetters([
                'getUserOwnDiets'
            ])
        }
    }
</script>