<template>
    <div class="profile">
        <div class="top">
            <img class="top__pp-image" :src="showProfileImg" alt="profile image">
            <div class="top__info">
                <p class="top__info--name">Name & Surname:</p>
                <h1 class="top__name">{{ showUserName }}</h1>
                <p class="top__upgrade">Upgrade to Platinum Plan</p>
            </div>
            <div class="top__stats">
                <div class="top__stats--col">
                    <p class="title">Plans in Progress</p>
                    <div class="group">
                        <p class="amount">1</p>
                        <span class="top__stats--new">
                            <p>1+</p>
                        </span>
                    </div>
                </div>
                <div class="top__stats--col">
                    <p class="title">Plans completed</p>
                    <div class="group">
                        <p class="amount">3</p>
                        <span class="top__stats--new">
                            <p>2+</p>
                        </span>
                    </div>
                </div>
                <div class="top__stats--col">
                    <p class="title">Upcoming Plans</p>
                    <div class="group">
                        <p class="amount">2</p>
                        <span class="top__stats--new">
                            <p>1+</p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-info">
            <div class="col-1">
                1
            </div>
            <div class="col-2">
                2
                <!-- <h2>Available plans:</h2>
                <div class="col-2__plans">
                    <div class="plan-1">
                        <div class="plan-1__head">
                            <h3 class="plan-1__title">Gold Plan</h3>
                            <h3 class="plan-1__cost">R100 <span class="plan-1__pm">p/m</span></h3>
                        </div>
                        <div class="plan-1__content">
                            <p>Plan includes:</p>
                            <ul>
                                <li>
                                    Unlimited access to professionally created diet plans with a 1 - 2 new plans being released every 2 weeks.
                                </li>
                                <li>
                                    3 Questions per week regarding any health related topic (including personal and professional plans) with our team of nutritional specialists.
                                </li>
                                <li>
                                    Unlimited diet plan creation and the export of those plans.
                                </li>
                                <li>
                                    Access to our fitness calculators.
                                </li>
                            </ul>
                        </div>
                        <div class="col-2__plans--btn-container">
                            <button class="plan-1__btn">
                                This plan is currently active
                            </button>
                        </div>
                    </div>
                    <div class="plan-2">
                        <div class="plan-2__head">
                            <h3 class="plan-2__title">Platinum Plan</h3>
                            <h3 class="plan-2__cost">R250 <span class="plan-2__pm">p/m</span></h3>
                        </div>
                        <div class="plan-2__content">
                            <p>Plan includes:</p>
                            <ul>
                                <li>
                                    Unlimited access to professionally created diet plans with a 1 - 2 new plans being released every 2 weeks. You also get access to Premium diet plans created by some of the worlds most famous nutritionists!
                                </li>
                                <li>
                                    7 Questions per week regarding any health related topic (including personal and professional plans) with our team of nutritional specialists.
                                </li>
                                <li>
                                    Unlimited diet plan creation and the export of those plans.
                                </li>
                                <li>
                                    Access to our fitness calculators.
                                </li>
                            </ul>
                        </div>
                        <div class="col-2__plans--btn-container">
                            <button class="plan-2__btn">
                                Upgrade to the Platinum Plan
                            </button>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    computed: {
        ...mapGetters({
            showUserName: 'getUserName',
            showProfileImg: 'getUserImg'
        }),
    }
}
</script>

<style lang="scss" scoped>
    @import '../scss/viewStyles/Profile.scss';
</style>