<template>
    <div class="profile">
        <div class="sidenav">
            <h4 class="sidenav__item active">Profile Details</h4>
            <h4 class="sidenav__item">Account Details</h4>
            <h4 class="sidenav__item">Notifications</h4>
        </div>
        <div class="profile__details">
            <h2 class="page-header page-header-2">Personal Details</h2>
            <div class="profilepic-container">
                <img src="../assets/demo-img/pp.jpeg" alt="profile image">
                <div class="info">
                    <p class="name">Geordy Oliver</p>
                    <p class="editBtn">Change profile picture</p>
                </div>
            </div>
            <div class="side-by-side">
                <div class="input-container">
                    <label for="name" class="label">Name</label>
                    <input type="text" name="name" class="input input__name" v-model="userData.name" placeholder="Geordy">
                </div>
                <div class="input-container">
                    <label for="surname" class="label">Surname</label>
                    <input type="text" name="surname" class="input input__surname" v-model="userData.surname" placeholder="Oliver">
                </div>
            </div>
            <div class="side-by-side">
                <div class="input-container">
                    <label for="email" class="label">Email</label>
                    <input type="text" name="email" class="input input__email" disabled v-model="userData.email" placeholder="geordyoliver@geeworx.com">
                </div>
                <div class="input-container">
                    <label for="number" class="label">Number</label>
                    <input type="text" name="number" class="input input__number" v-mask="['(##) ####-####', '(###) ###-####']" v-model="userData.tel" placeholder="063 795 0702">
                </div>
            </div>
            <h2 class="page-header page-header-2">Location Information</h2>
            <div class="side-by-side">
                <div class="input-container">
                    <label for="name" class="label">Country</label>
                    <input type="text" name="name" class="input input__country" placeholder="Enter a Country">
                </div>
                <div class="input-container">
                    <label for="surname" class="label">City</label>
                    <input type="text" name="city" class="input input__city" placeholder="Enter a City">
                </div>
            </div>
            <div class="side-by-side">
                <div class="input-container">
                    <label for="email" class="label">Address</label>
                    <input type="text" name="address" class="input input__address" placeholder="Enter your address">
                </div>
                <div class="input-container">
                    <label for="number" class="label">Code</label>
                    <input type="text" name="number" class="input input__code" placeholder="Enter your Postal Code">
                </div>
            </div>
            <h2 class="page-header page-header-2">Change Email</h2>
            <div class="side-by-side">
                <div class="input-container">
                    <label for="email" class="label">Reconfirm current email</label>
                    <input type="text" name="email" v-model="userCreds.email" class="input input__email" placeholder="Enter current email">
                </div>
                <div class="input-container">
                    <label for="pass" class="label">Reconfirm current password</label>
                    <input type="text" name="pass" v-model="userCreds.password" class="input input__currentPass" placeholder="Enter current password">
                </div>
            </div>
            <div class="side-by-side">
                <div class="input-container">
                    <label for="newemail" class="label">New Email</label>
                    <input type="text" name="newEmail" v-model="newEmail" class="input input__newemail" placeholder="Enter a new email" @blur="$v.newEmail.$touch()">
                    <p v-if="$v.newEmail.$error && !$v.newEmail.email" class="validation-warnings">Please enter a valid email address.</p>
                </div>
            </div>
            <button class="profile__btn">Reset Email</button>
            <h2 class="page-header page-header-2">Change Password</h2>
            <button class="profile__btn" @click="updatePassword">Reset Password</button>
            <h2 class="page-header page-header-2">Change Banking Details</h2>
            <div class="side-by-side">
                <div class="input-container">
                    <label for="accnumber" class="label">Account Number</label>
                    <input
                        type="text"
                        name="accnumber"
                        class="input input__accnumber"
                        placeholder="#### #### #### ####"
                        v-model="cardNumber" 
                        v-mask="generateCardNumberMask" ref="cardNumber"
                    >
                </div>
                <div class="input-container">
                    <label for="holdername" class="label">Account Holder Name</label>
                    <input type="text" name="holdername" class="input input__holdername" placeholder="G Oliver">
                </div>
            </div>
            <div class="side-by-side">
                <div class="input-container ">
                    <label for="cvv" class="label">CVV</label>
                    <input type="text" name="holdername" v-mask="'####'" class="input input__cvv" placeholder="****">
                </div>
                <div class="expdate">
                    <label for="expdate">Exp Date:</label>
                    <div class="expdate__group">
                        <select class="select" name="selectYear" id="selectYear" v-model="cardYear">
                            <option value="Year" disabled selected>Year</option>
                            <option v-for="(year, index) in 5" :key="index" :value="minCardYear + index">
                                {{ minCardYear + index }}
                            </option>
                        </select>
                        <select class="select" name="selectMonth" id="selectMonth" v-model="cardMonth">
                            <option value="Month" disabled selected>Month</option>
                            <option v-for="(month, index) in 12" :key="index" :value="month &lt; 10 ? '0' + month : month" :disabled="month < minCardMonth || cardYear === ''">
                                {{ month &lt; 10 ? '0' + month : month }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <p class="notify">An authorisation email will be sent to your current email to cofirm the change.</p>
            <h2 class="page-header page-header-2">Notifications & Communication</h2>
            <div class="checkbox" @click="userData.messageNotify = !userData.messageNotify">
                <input id="checkbox" type="checkbox" name="checkbox1" v-model="userData.messageNotify">
                <div class="checkbox__checkmark" :class="{active: userData.messageNotify}">
                    <inline-svg :src="require('../assets/svg/checkmark-icon.svg')"></inline-svg>
                </div>
                <label for="checkbox1" class="checkbox__label">Notify me when I receive a message.</label>
            </div>
            <div class="checkbox" @click="userData.proDiet = !userData.proDiet">
                <input id="checkbox" type="checkbox" name="checkbox2" v-model="userData.proDiets">
                <div class="checkbox__checkmark" :class="{active: userData.proDiet}">
                    <inline-svg :src="require('../assets/svg/checkmark-icon.svg')"></inline-svg>
                </div>
                <label for="checkbox2" class="checkbox__label">Notify me when new Pro Diets become available.</label>
            </div>
            <div class="checkbox" @click="userData.updates = !userData.updates">
                <input id="checkbox" type="checkbox" name="checkbox3" v-model="userData.updates">
                <div class="checkbox__checkmark" :class="{active: userData.updates}">
                    <inline-svg :src="require('../assets/svg/checkmark-icon.svg')"></inline-svg>
                </div>
                <label for="checkbox3" class="checkbox__label">I want to receive notices of any updates via email.</label>
            </div>
            <div class="checkbox" @click="userData.newsletter = !userData.newsletter">
                <input id="checkbox" type="checkbox" name="checkbox4" v-model="userData.newsletter">
                <div class="checkbox__checkmark" :class="{active: userData.newsletter}">
                    <inline-svg :src="require('../assets/svg/checkmark-icon.svg')"></inline-svg>
                </div>
                <label for="checkbox4" class="checkbox__label">I opt in to the SmartPrepper newsletter.</label>
            </div>
            <div class="checkbox" @click="userData.newBlogs = !userData.newBlogs">
                <input id="checkbox" type="checkbox" name="checkbox5" v-model="userData.newBlogs">
                <div class="checkbox__checkmark" :class="{active: userData.newBlogs}">
                    <inline-svg :src="require('../assets/svg/checkmark-icon.svg')"></inline-svg>
                </div>
                <label for="checkbox5" class="checkbox__label">I want to know when new blog posts are published.</label>
            </div>
            <button class="profile__btn">Save details</button>
        </div>
    </div>
</template>

<script>
    import { auth } from '../firebase'
    import { mapGetters } from 'vuex'
    import { email } from 'vuelidate/lib/validators'

    export default {
        data () {
            return {
                userData: {
                    name: "",
                    surname: "",
                    email: "",
                    tel: "",
                    gender: "",
                    messageNotify: true,
                    proDiet: true,
                    updates: true,
                    newsletter: true,
                    newBlogs: true
                },
                cardMonth: "",
                cardYear: "",
                cardNumber: "",
                amexCardMask: "#### ###### #####",
                otherCardMask: "#### #### #### ####",
                minCardYear: new Date().getFullYear(),
                newEmail: "",
                userCreds: {
                    email: "",
                    password: ""
                }
            }
        },

        validations: {
            newEmail: {
                email
            }
        },

        methods: {
            splitName () {
                const split = this.allUserData.fullName.split(" ")
                this.userData.name = split[0]
                this.userData.surname = split[1]
            },

            updatePassword () {
                const emailAddress = this.userData.email;
                auth.sendPasswordResetEmail(emailAddress).then(() => {
                    alert('An email has been sent to your current email address.')
                }).catch((err) => {
                    alert(err)
                });
            }
        },

        computed: {
            ...mapGetters({
                allUserData: 'getAllUserData'
            }),

            getCardType () {
                let number = this.cardNumber;
                let re = new RegExp("^4");
                if (number.match(re) != null) return "visa";

                re = new RegExp("^(34|37)");
                if (number.match(re) != null) return "amex";

                re = new RegExp("^5[1-5]");
                if (number.match(re) != null) return "mastercard";

                re = new RegExp("^6011");
                if (number.match(re) != null) return "discover";

                return "visa"; // default type
            },

            generateCardNumberMask () {
                return this.getCardType === "amex" ? this.amexCardMask : this.otherCardMask;
            },

            minCardMonth () {
                if (this.cardYear === this.minCardYear) return new Date().getMonth() + 1;
                return 1;
            }
        },

        watch: {
            userData: {
                handler () {
                    Object.assign(this.userData, this.allUserData)
                    this.splitName()
                },
                immediate: true
            },

            cardYear () {
                if (this.cardMonth < this.minCardMonth) {
                    this.cardMonth = "";
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import '../scss/viewStyles/Settings.scss';
</style>