<template>
    <div class="container">
        <div class="login__logo">
            <inline-svg
                :src="require(`../assets/svg/preppt_icon-orange.svg`)"
                class="login__logo--icon"
            ></inline-svg>
            <img class="login__logo--name" src="../assets/preppt-logo-black.png" alt="logo">
        </div>
        <div class="sides">
            <div class="sides__side sides__side-1"></div>
            <div class="sides__side sides__side-2">
                <transition name="switch" mode="out-in">
                    <router-view></router-view>
                </transition>
            </div>
        </div>
    </div>
</template>

<script>
    import '../scss/viewStyles/Signuplogin.scss'

    export default {
        
    }
</script>

<style>
    .switch-enter {
        opacity: 0;
    }

    .switch-enter-active {
        animation: slide-in .5s ease-in-out forwards;
    }

    .switch-leave-active {
        animation: slide-out .4s ease-in-out forwards;
    }

    .switch-leave {
        opacity: 0;
    }

    @keyframes slide-in {
        from {
            transform: translateY(-200%);
            opacity: 0;
        } to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes slide-out {
        from {
            transform: translateY(0);
            opacity: 1;
        } to {
            transform: translateY(200%);
            opacity: 0;
        }
    }
</style>