<template>
    <div class="steps">
        <div class="steps__logo">
            <inline-svg
                :src="require(`../assets/svg/preppt_icon-orange.svg`)"
                class="steps__logo--icon"
            ></inline-svg>
            <img class="steps__logo--name" src="../assets/preppt-logo-black.png" alt="logo">
        </div>
        <div class="steps__container">
            <div class="steps__content">
                <h1 class="steps__content--heading">
                    Welcome to the 
                    <span class="steps__content--bold">
                        Preppt App!
                    </span>
                </h1>
                <h2 class="steps__content--subheading">Let's quickly get you set up:</h2>
                <div class="progress">
                    <div class="progress__bar" :style="`width:${100 * progessBar}%`">
                        <p v-if="currentStepNumber == 1">First Step</p>
                        <p v-if="currentStepNumber == 2">Almost done...</p>
                        <p v-else>Last Step!</p>
                    </div>
                </div>
                <div class="steps__content--form">
                    <transition name="slide-to-side">
                        <keep-alive>
                            <component :is="currentStep" @update="updateFormDetails"></component>
                        </keep-alive>
                    </transition>
                </div>
                <div class="steps__navbtns">
                    <button
                        @click="goBack"
                        v-if="currentStepNumber > 1"
                        class="steps__btn steps__btn--back"
                    >
                        <inline-svg
                            :src="require('../assets/svg/arrow-left.svg')"
                        ></inline-svg>
                        Back
                    </button>
                    <button v-if="currentStepNumber < steps.length" @click="goNext" class="steps__btn steps__btn--next" :disabled="!canGoNext">
                        Next
                        <inline-svg
                            :src="require('../assets/svg/arrow-left.svg')"
                        ></inline-svg>
                    </button>
                    <button v-else-if="currentStepNumber === steps.length" @click="submitUserData" class="steps__btn steps__btn--next" :disabled="!canGoNext">
                        Submit
                        <inline-svg
                            :src="require('../assets/svg/arrow-left.svg')"
                        ></inline-svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import FirstStep from '../components/SignupStep1'
    import SecondStep from '../components/SignupStep2'
    import CreditCard from '../components/CreditCardForm'

    export default {
        components: {
            FirstStep,
            SecondStep,
            CreditCard
        },

        data () {
            return {
                steps: [
                    "firstStep",
                    "SecondStep",
                    "CreditCard"
                ],
                currentStepNumber: 1,
                form: {
                    fullName: "",
                    dob: "",
                    email: "",
                    metric: "",
                    weight: null,
                    tel: null,
                    bodyFat: null,
                    hasAllergies: "",
                    allergyList: "",
                    activeLevel: "",
                    profilePic: ""
                },
                canGoNext: false
            }
        },

        methods: {
            updateFormDetails (updateDetails) {
                Object.assign(this.form, updateDetails.data)
                this.canGoNext = updateDetails.valid
                console.log(this.form);
                
            },

            goNext () {
                this.currentStepNumber++
                this.canGoNext = true
            },

            goBack () {
                this.currentStepNumber--
                this.canGoNext = false
            },

            submitUserData () {
                this.$store.dispatch('registerUserData', this.form)
                    .then(() => {
                        this.$router.replace('/dashboard')
                    })
            }
        },

        computed: {
            currentStep () {
                return this.steps[this.currentStepNumber - 1]
            },

            progessBar () {
                return this.currentStepNumber/3
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "../scss/viewStyles/signupSteps.scss";
</style>