@mixin input {
    &:not([type="file"]) {
        padding: 13px;
        font-size: 20px;
        border-radius: 3px;
        border: 2px solid $light-grey-color;
        color: $text-color;

        @media screen and (max-width: 375px) {
            font-size: 16px;
            padding: 10px;
        }
    }
}

@mixin input-heading {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 18px;

}

@mixin signupsteps-input {
    &:not([type="file"]) {
        position: relative;
        padding: 10px;
        font-size: 18px;
        border-radius: 3px;
        border: 2px solid $light-grey-color;
        color: $text-color;
        background-color: transparent;
    }
    
    &:focus {
        outline: none;
        border: 2px solid $primary-color !important;
    }
}

@mixin smaller-input {
    position: relative;
    padding: 6px;
    font-size: 16px;
    border-radius: 3px;
    border: 2px solid $light-grey-color;
}

@mixin signupsteps-heading {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 8px;

}

@mixin validation-warning-textarea {
    .input.invalid textarea {
        border: 2px solid red;
    }
}

@mixin validation-warnings {
    .input.invalid input {
        border: 2px solid red;
    }

    .input.invalid select {
        border: 2px solid red;
    }

    .validation-warning {
        color: red;
        margin-bottom: 4px;
    }
}

@mixin select-bg-arrow {
    background-color: white;
    background-image: url('../assets/arrow-down.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center right 10px;
}

@mixin dietCalOverview {
    margin-top: 30px;
    width: 100%;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.096);

    &__weeks-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        background-color: $text-color;
        border-radius: 6px;
        color: white;
        font-weight: 400;
        width: 100%;
        height: 100%;

        &__item {
            justify-self: center;
            height: 100%;
            padding: 10px 0;
            cursor: pointer;
            user-select: none;

            p {
                margin-top: 1px;
            }
        }

        .active {
            position: relative;
            color: $secondary-color;
            font-weight: 600;
            z-index: 99;
            width: 96%;
            text-align: center;

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: white;
                border-radius: 3px;
                height: 80%;
                width: 100%;
                z-index: -1;
            }
        }
    }

    &__days-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

        &__item {
            position: relative;
            display: flex;
            justify-self: center;
            align-items: center;
            height: 100%;
            padding: 10px 0;
            color: $medium-grey-color;
            cursor: pointer;
            user-select: none;
        }

        .hovered-date {
            position: absolute;
            left: 50%;
            top: -100%;
            transform: translate(-50%, 300%);
            background-color: $text-color;
            padding: 4px 6px;
            color: white;
            border-radius: 2px;
            z-index: 999 !important;
            font-weight: 400;
        }

        .hovered-date__item {
            display: flex;
            width: max-content;
        }

        .active {
            color: $primary-color;
            font-weight: 500;
        }
    }
}