$primary-color: #27b0a8;
$secondary-color: #fb4219;

$default-font-size: 16px;

$text-color: #2A2B2D;
$verylight-grey-color: rgb(240, 240, 240);
$light-grey-color: #D4D4D4;
$light-grey-color-2: rgb(155, 155, 155);
$medium-grey-color: #979797;
$dark-grey-color: rgb(102, 102, 102);
$dark-grey-color-2: #464646;

$insta-red: #E95950;
$fb-blue: #1486EF;
$twit-blue: #139DE9;

$stdBoxShadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.096)