<template>
    <div class="activeChat">
        <div class="activeChat__profilePic">
            <div class="status-icon"></div>
            <img class="image" src="../assets/demo-img/pp.jpeg" alt="profile image">
        </div>
        <div class="activeChat__info">
            <div class="top-banner">
                <div class="status">{{ status }}</div>
                <div class="timeStamp">{{ timeStamp }}</div>
            </div>
            <div class="chat-name">
                {{ name }}
            </div>
            <div class="chat-message">
                {{ message }}
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'name',
            'status',
            'timeStamp',
            'message',
            'image'
        ]
    }
</script>

<style lang="scss" scoped>
    @import '../scss/componentStyles/ActiveChat.scss';
</style>