<template>
    <div class="mealcard">
        <div class="mealcard__info">
            <div class="mealcard__info--top">
                <h3 class="mealcard__name">{{ name }}</h3>
                <inline-svg
                    v-if="duplicatoractive === false"
                    :src="require('../assets/svg/copy.svg')"
                    class="mealcard__copy--icon"
                    @click="openDuplicator"
                ></inline-svg>
                <div v-if="duplicatoractive === true" class="mealcard__stop-dupl" @click="closeDuplicator">
                    <p>Done</p>
                </div>
            </div>
            <p class="mealcard__time">{{ time ? time : '08:00' }}</p>
        </div>
        <div class="mealcard__bg">
            <h1 class="mealcard__bg--text">
                {{ bgnum }}
            </h1>
        </div>
        <div class="mealcard__btns">
            <div class="mealcard__edit" @click="openMealData">
                <inline-svg
                    :src="require('../assets/svg/pencil.svg')"
                    class="mealcard__edit--icon"
                ></inline-svg>
            </div>
            <div class="mealcard__delete" @click="removeMealData">
                <inline-svg
                    :src="require('../assets/svg/addition-icon.svg')"
                    class="mealcard__delete--icon"
                    @click="removeMealData"
                ></inline-svg>
            </div>
        </div>
    </div> 
</template>

<script>
export default {
    data () {
        return {
            newCard: true
        }
    },

    props: [
        'name',
        'time',
        'bgnum',
        'duplicatoractive'
    ],

    methods: {
        openMealData () {
            this.$emit('openEditMealData')
            this.closeDuplicator()
        },

        removeMealData () {
            this.$emit('removeMealData')
            this.closeDuplicator()
        },
        
        openDuplicator () {
            this.$emit('openDuplicator')
        },

        closeDuplicator () {
            this.$emit('closeDuplicator')
        }
    }
}
</script>

<style lang="scss" scoped>
    @import '../scss/componentStyles/AddPlanMealCard.scss';
</style>