<template>
    <div class="stepthree">
        <div class="stepthree__row--1">
            <div class="card__col--1">
                <div class="card-container">
                    <div class="card" :class="{'active' : isCardFlipped}">
                        <div class="card__front">
                            <div class="top">
                                <div class="top--chip">
                                    <inline-svg
                                        :src="require('../assets/svg/preppt_icon.svg')"
                                    ></inline-svg>
                                </div>
                                <div class="top--type">
                                    <transition name="switch">
                                        <img :src="require(`../assets/bankcard/${getCardType}-logo.png`)" v-if="getCardType" :key="getCardType">
                                    </transition>
                                </div>
                            </div>
                            <div class="cardnumber" ref="cardNumber">
                                <div class="cardnumber__item" v-if="getCardType === 'amex'">
                                    <span v-for="(n, index) in amexCardMask" :key="index">
                                        <transition name="switch">
                                            <div v-if="index > 4 && index < 14 && cardNumber.length > index && n.trim() !== ''">*</div>
                                            <div :key="index" class="cardnumber__item--number" v-else-if="cardNumber.length > index">{{ cardNumber[index] }}</div>
                                            <div :key="index + 1" class="cardnumber__item--number" v-else>{{ n }}</div>
                                        </transition>
                                    </span>
                                </div>
                                <div v-else class="cardnumber__item">
                                    <span v-for="(n, index) in otherCardMask" :key="index">
                                        <transition name="switch">
                                            <div v-if="index > 4 && index < 15 && cardNumber.length > index && n.trim() !== ''">*</div>
                                            <div :key="index" class="cardnumber__item--number"  v-else-if="cardNumber.length > index">{{ cardNumber[index] }}</div>
                                            <div :key="index + 1" class="cardnumber__item--number"  v-else>{{ n }}</div>
                                        </transition>
                                    </span>
                                </div>
                            </div>
                            <div class="bottom">
                                <div class="bottom__info">
                                    <div class="title">
                                        Card Holder
                                    </div>
                                    <div v-if="cardName.length" key="1">
                                        <transition-group name="switch">
                                            <div class="name" v-for="n in cardName.replace(/\s\s+/g, ' ')" :key="n">
                                                <span>{{ n }}</span>
                                            </div>
                                        </transition-group>
                                    </div>
                                    <div v-else>
                                        <div class="placeholder" key="2">J Doe</div>
                                    </div>
                                </div>
                                <div class="bottom__info">
                                    <div class="title">
                                        Expires
                                    </div>
                                    <div class="expdate">
                                        <div class="month">
                                            <transition name="switch">
                                                <div v-if="cardMonth !== ''" :key="cardMonth">
                                                    {{ cardMonth }}
                                                </div>
                                                <div v-else>
                                                    MM
                                                </div>
                                            </transition>
                                        </div>
                                        /
                                        <div class="year">
                                            <transition name="switch">
                                                <div v-if="cardYear !== ''" :key="cardYear">
                                                    {{ String(cardYear).slice(2,4) }}
                                                </div>
                                                <div v-else>
                                                    YY
                                                </div>
                                            </transition>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card__back">
                            <div class="strip"></div>
                            <div class="cvv">
                                <div class="cvv--title">CVV</div>
                                <div class="cvv--container">
                                    <div class="cvv--code" v-for="(n, index) in cardCvv" :key="index">
                                        <transition name="switch">
                                            <span>*</span>
                                        </transition>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="inputfield-group input" :class="{invalid: $v.cardNumber.$error}">
                <label for="cardnum">Card Number:</label>
                <p v-if="$v.cardNumber.$error && !$v.cardNumber.required" class="validation-warning">Enter your card number.</p>
                <p v-if="$v.cardNumber.$error && !$v.cardNumber.min" class="validation-warning">Enter a valid card number.</p>
                <input 
                    class="inputfield-group__input--1" 
                    name="cardnum" 
                    v-model="cardNumber" 
                    type="text" 
                    v-mask="generateCardNumberMask" ref="cardNumber"
                    @blur="$v.cardNumber.$touch()"
                >
            </div>
        </div>
        <div class="stepthree__row--2">
            <div class="inputfield-group input" :class="{invalid: $v.cardName.$error}">
                <label for="accname">Acc Holder Name:</label>
                <p v-if="$v.cardName.$error && !$v.cardName.required" class="validation-warning">Enter the Account Holder's name.</p>
                <input 
                    class="inputfield-group__input--2" 
                    v-model="cardName" 
                    name="accname" 
                    type="text"
                    @blur="$v.cardName.$touch()"
                >
            </div>
            <div class="inputfield-group input" :class="{invalid: $v.cardCvv.$error}">
                <label for="cvv">CVV:</label>
                <p v-if="$v.cardCvv.$error && !$v.cardCvv.required" class="validation-warning">Enter your card's CVV number.</p>
                <p v-else-if="$v.cardCvv.$error && !$v.cardCvv.min" class="validation-warning">Enter a valid CVV number.</p>
                <input class="inputfield-group__input--3" 
                    v-model="cardCvv"
                    v-mask="'####'"
                    @focus="isCardFlipped = true"
                    @blur="isCardFlipped = false"
                    @mouseleave="$v.cardCvv.$touch()"
                    name="cvv"
                    type="text"
                >
            </div>
            <div class="inputfield-group input" :class="{invalid: $v.cardYear.$error || $v.cardMonth.$error}">
                <label for="expdate">Exp Date:</label>
                <p v-if="$v.cardYear.$error && !$v.cardYear.required" class="validation-warning">Enter a valid year.</p>
                <p v-if="$v.cardYear.$error && !$v.cardMonth.required" class="validation-warning">Enter a valid month.</p>
                <div class="expdate__group">
                    <select class="select" name="selectYear" id="selectYear" v-model="cardYear" @blur="$v.cardYear.$touch()">
                        <option value="Year" disabled selected>Year</option>
                        <option v-for="(year, index) in 5" :key="index" :value="minCardYear + index">
                            {{ minCardYear + index }}
                        </option>
                    </select>
                    <select class="select" name="selectMonth" id="selectMonth" v-model="cardMonth" @blur="$v.cardMonth.$touch()">
                        <option value="Month" disabled selected>Month</option>
                        <option v-for="(month, index) in 12" :key="index" :value="month &lt; 10 ? '0' + month : month" :disabled="month < minCardMonth || cardYear === ''">
                            {{ month &lt; 10 ? '0' + month : month }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="stepthree__row--3">
            <h2>What you're getting:</h2>
            <div class="plan__card">
                <div class="plan__card--col plan__card--header">
                    <inline-svg
                        :src="require('../assets/svg/fire-icon.svg')"
                    ></inline-svg>
                    <h3 class="plan__card--heading">The FIRE Plan</h3>
                    <div class="plan__card--pricing">
                        <h1>$14 p/m</h1>
                    </div>
                </div>
                <div class="plan__card--col">
                    <p>
                        <inline-svg
                            :src="require('../assets/svg/tick.svg')"
                        ></inline-svg>
                        Access to ALL our diet plans created by REAL professionals. new plans are released on a weekly basis.
                    </p>
                </div>
                <div class="plan__card--col">
                    <p>
                        <inline-svg
                            :src="require('../assets/svg/tick.svg')"
                        ></inline-svg>
                        Access to a vast variety of products with detailed macro and micro information for you to construct your own plan.
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { required, minLength } from 'vuelidate/lib/validators'

    export default {
        data () {
            return {
                cardName: "",
                cardNumber: "",
                cardMonth: "",
                cardYear: "",
                cardCvv: "",
                amexCardMask: "#### ###### #####",
                otherCardMask: "#### #### #### ####",
                minCardYear: new Date().getFullYear(),
                isCardFlipped: false,
                focusElementStyle: null,
                isInputFocused: false
            }
        },

        validations: {
            cardName: {
                required
            },

            cardNumber: {
                required,
                min: minLength(17)
            },

            cardMonth: {
                required
            },

            cardYear: {
                required
            },

            cardCvv: {
                required,
                min: minLength(3)
            }
        },

        activated () {
            this.submit()
        },

        methods: {
            submit () {
                this.$emit('update', {
                    valid: !this.$v.$invalid
                })
            }
        },

        computed: {
            getCardType () {
                let number = this.cardNumber;
                let re = new RegExp("^4");
                if (number.match(re) != null) return "visa";

                re = new RegExp("^(34|37)");
                if (number.match(re) != null) return "amex";

                re = new RegExp("^5[1-5]");
                if (number.match(re) != null) return "mastercard";

                re = new RegExp("^6011");
                if (number.match(re) != null) return "discover";

                return "visa"; // default type
            },

            generateCardNumberMask () {
                return this.getCardType === "amex" ? this.amexCardMask : this.otherCardMask;
            },

            minCardMonth () {
                if (this.cardYear === this.minCardYear) return new Date().getMonth() + 1;
                return 1;
            },

            isValid () {
                return !this.$v.$invalid
            }
        },

        mounted () {
            this.$refs.cardNumber.focus();
        },

        watch: {
            cardYear () {
                if (this.cardMonth < this.minCardMonth) {
                    this.cardMonth = "";
                }
            },

            isValid: {
                handler () {
                    this.submit()
                },
                immediate: true
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "../scss/componentStyles/bankCardDetails.scss";
</style>