<template>
    <div class="sidenav">
        <div class="sidenav__logo">
            <inline-svg
                :src="require(`../assets/svg/preppt_icon.svg`)"
                class="sidenav__logo--icon"
            ></inline-svg>
            <img class="sidenav__logo--name" src="../assets/preppt-logo-white.png" alt="logo">
        </div>
        <div>
            <router-link class="sidenav__link" active-class="active" v-for="(item, index) in menuItems" :key="index" tag="a" :to="`/${menuItemsLower[index]}`">
                <inline-svg
                    :src="require(`../assets/svg/${item}.svg`)"
                    class="sidenav__link--icon"
                ></inline-svg>
                {{ item }}
            </router-link>
        </div>
    </div>
</template>

<script>
    import '../scss/componentStyles/sidebar.scss'
    
    export default {
        data () {
            return {
                menuItems: [
                    'Dashboard',
                    'Messages',
                    'Diets',
                    'Calculators',
                    'Profile',
                    'Settings'
                ]
            }
        },

        computed: {
            menuItemsLower () {
                let items = []
                for (let i = 0; i < this.menuItems.length; i++) {
                    items.push(this.menuItems[i].toLowerCase())
                }
                return items
            }
        }
    }
</script>

<style lang="scss">

</style>