<template>
    <div class="card">
        <div class="card__body">
            <div class="card__body--top">
                <p class="card__startend">{{ startTime ? startTime : '31/07/2020' }} - {{ endTime ? endTime : '07/12/2020' }}</p>
                <p class="card__goal">{{ goal ? goal : 'lose weight' }}</p>
            </div>
            <h1 class="card__heading">{{ name }}</h1>
            <p class="card__diet-type">{{ type ? type : 'Custom' }} Diet</p>
            <div v-if="allergies.length > 0" class="card__allergies">
                <p class="card__allergies--title">Allergies:</p>
                <p v-for="allergy in allergies" :key="allergy" class="card__allergies--item">{{ allergy }}</p>
            </div>
            <div v-else class="card__allergies">
                <p class="card__allergies--title">Allergies:</p>
                <p class="card__no-allergies">{{ allergies.length !== 0 ? allergies : 'None' }}</p>
            </div>
            <div class="card__lower">
                <p class="card__duration">{{ durationWeeks }} weeks</p>
                <p class="card__progress">{{ startTime ? 'in progress' : 'to start' }}</p>
            </div>
            <div class="card__btns">
                <div class="card__edit">
                    Edit Plan
                </div>
                <div class="card__delete">
                    View Plan
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data () {
        return {
            status: ""
        }
    },

    props: [
        'name',
        'type',
        'duration',
        'descrip',
        'allergies',
        'goal',
        'startTime',
        'endTime'
    ],

    computed: {
        durationWeeks () {
            return this.duration.length
        },
    }
    
}
</script>

<style lang="scss" scoped>
    @import '../scss/componentStyles/DietInfoCard.scss';
</style>