<template>
    <div class="newMeal">
        <div class="newMeal__container">
            <div class="discard" @click="closeMeal">
               <inline-svg
                    :src="require('../assets/svg/addition-icon.svg')"
                ></inline-svg>
            </div>
            <div class="newMeal__container--left">
                <div class="search">
                    <input type="text" placeholder="Enter the product/meal you’re looking for..." v-model="searchResults.searchProducts">
                </div>
                <div class="filters">
                    <select name="prefer" class="prefer" v-model="searchResults.dietType">
                        <option selected disabled>Dietary preferance</option>
                        <option v-for="(diet, index) in dietTypes" :key="index" :value="diet">{{ diet }}</option>
                    </select>
                    <select name="range" class="range" v-model="searchResults.calorieRange">
                        <option v-for="(range, index) in calorieRange" :key="index" :value="range">{{ range }}</option>
                    </select>
                </div>
                <div class="selection">
                    <div class="products">
                        <div class="products__card" v-for="product in filterByName" :key="product.name">
                            <div class="top">
                                <p class="title">{{ product.name }}</p>
                                <p class="energy">{{ product.energy }}</p>
                                <inline-svg
                                    v-if="isAdded(product)"
                                    @click="addProduct(product)"
                                    :src="require('../assets/svg/black-addition-icon.svg')"
                                ></inline-svg>
                                <inline-svg
                                    v-else
                                    :src="require('../assets/svg/checkmark-icon.svg')"
                                ></inline-svg>
                            </div>
                            <div class="body">
                                <p>Protein: {{ product.macros['protein']}}</p>
                                <p>Carbs: {{ product.macros['carbs']}}</p>
                                <p>Fats: {{ product.macros['fats']}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="totals">
                        <div class="macros__col">
                            <h4 class="title">Protein (g):</h4>
                            <p class="amount">{{ roundTotals(mealTotals.protein) }}</p>
                        </div>
                        <div class="macros__col">
                            <h4 class="title">Carbs (g):</h4>
                            <p class="amount">{{ roundTotals(mealTotals.carbs) }}</p>
                        </div>
                        <div class="macros__col">
                            <h4 class="title">Fats (g):</h4>
                            <p class="amount">{{ roundTotals(mealTotals.fats) }}</p>
                        </div>
                        <div class="macros__col">
                            <h4 class="title">Energy (kj):</h4>
                            <p class="amount">{{ roundTotals(mealTotals.energy) }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="newMeal__container--right">
                <div class="timeSelect">
                    <p class="error" v-if="$v.mealData.mealTime.$error">Enter a valid time</p>
                    <p>Select the time of this meal:</p>
                    <input v-model="mealData.mealTime" type="text" class="hours" placeholder="08:00" v-mask="'##:##'">
                </div>
                <div class="mealName">
                    <label v-if="$v.mealData.mealName.$error" for="mealName" class="mealName__label mealName__label--error">Enter a valid meal name:</label>
                    <label for="mealName" class="mealName__label">Meal Name</label>
                    <input type="text" class="mealName__input" placeholder="My New Meal" v-model="mealData.mealName">
                    <p class="mealName__charAmount">{{ mealData.mealName.length }}/18</p>
                </div>
                <div class="content">
                    <h3 v-if="$v.selectedProducts.$error" class="content__heading" :class="{error : $v.selectedProducts.$error}">Selected AT LEAST one product:</h3>
                    <h3 class="content__heading">Selected products for this meal:</h3>
                    <div class="content__body">
                        <overview-card
                            v-for="product in selectedProducts"
                            :key="mealData.mealName + product.id"
                            :product="product"
                            @removeProduct="removeProduct"
                        />
                    </div>
                </div>
            </div>
            <div class="complete" @click="completeUpdateMeal">
               <inline-svg
                    :src="require('../assets/svg/checkmark-icon.svg')"
                ></inline-svg>
            </div>
        </div>
    </div>
</template>

<script>
import { required, minLength, between } from 'vuelidate/lib/validators'
import { mapGetters } from 'vuex'
import ProductOverviewCard from '../components/ProductOverviewCard'

export default {
    data () {
        return {
            mealData: {
                mealName: "",
                mealTime: "",
                mealTotals: {}
            },
            AllProducts: [],
            searchResults: {
                searchProducts: "",
                calorieRange: "0 +",
                dietType: ""
            },
            allergies: []
        }
    },

    props: [
        'dietType',
        'allAllergies',
        'name',
        'selectedMealProducts',
        'duplicatoractive',
        'time',
        'totals',
        'id'
    ],

    components: {
        'overviewCard': ProductOverviewCard
    },

    validations: {
        mealData: {
            mealName: {
                required,
                min: minLength(2)
            },

            mealTime: {
                required,
                min: minLength(5)
            }
        },

        hours: {
            between: between(0, 23)
        },

        minutes: {
            between: between(0, 59)
        },

        selectedProducts: {
            required,
            min: minLength(1)
        }
    },

    mounted () {
        console.log(this.id)
        this.$store.dispatch('setSelectedProducts', this.selectedMealProducts)
        this.$store.dispatch('setSelectedTotals', this.totals)
        this.AllProducts = JSON.parse(JSON.stringify(this.getAllProducts))
        this.searchResults.dietType = this.dietType
        this.mealData.mealName = this.name
        this.mealData.mealTime = this.time
    },

    methods: {
        closeMeal () {
            this.$emit('close', false)
        },

        addProduct (item) {
            const itemId = this.randomString(20)
            this.$store.dispatch('addToSelectedProducts', { item, itemId })
        },

        removeProduct (item) {
            this.$store.dispatch('removeFromSelectedProducts', item)
        },

        completeUpdateMeal () {
            console.log(this.mealData.mealName)
            this.$emit('updateMeal', {
                name: this.mealData.mealName,
                totals: JSON.parse(JSON.stringify(this.mealTotals)),
                selectedProducts: this.selectedProducts,
                mealTime: this.mealData.mealTime
            })
            // this.$store.commit('CLEAR_MEAL_DATA')
        },

        roundTotals (total) {
            return parseFloat(parseFloat(total).toFixed(1))
        },

        isAdded (product) {
            const index = this.selectedProducts.findIndex(filteredProduct => {
                return filteredProduct.name === product.name
            })

            if (index === -1 || index === undefined) {
                return true
            } else {
                return false
            }
        },

        randomString (length) {
            const chars = '0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz_+-,./'.split('');
            if (! length) {
                length = Math.floor(Math.random() * chars.length);
            }
            let str = '';
            for (var i = 0; i < length; i++) {
                str += chars[Math.floor(Math.random() * chars.length)];
            }
            return str;
        },
    },

    computed: {
        ...mapGetters({
            getAllProducts: 'getAllProducts',
            calorieRange: 'getCalorieRange',
            dietTypes: 'getDietTypes',
            getAllAllergents: 'getAllAllergents',
            mealTotals: 'getMealTotals',
            selectedProducts: 'getMealSelectedProducts',
        }),

        filterByName () {
            return this.AllProducts.filter(product => {
                return product.name.toLowerCase().match(this.searchResults.searchProducts.toLowerCase())
            })
        }
    },

    watch: {
        'mealData.mealName' () {
            if (this.mealData.mealName.length > 18) {
                this.mealData.mealName = this.mealData.mealName.slice(0, 18)
            }
            return
        },

        'searchResults.dietType': {
            handler () {
                this.$store.commit('SET_SEARCH_PARAMS', this.searchResults.dietType)
                this.$store.dispatch('getProductsFromDB')
                    .then(() => {
                        this.$store.dispatch('setAllergyParamProducts')
                            .then(() => {
                                this.$store.dispatch('getProductsFromRange', this.searchResults.calorieRange)
                                    .then(() => {
                                        this.AllProducts = this.getAllProducts
                                    })
                            })
                    })
            },
            immediate: true
        },

        'searchResults.calorieRange' () {
            this.$store.dispatch('setAllergyParamProducts')
                .then(() => {
                    this.$store.dispatch('getProductsFromRange', this.searchResults.calorieRange)
                        .then(() => {
                            this.AllProducts = this.getAllProducts
                        })
                })
        },
    }
}
</script>

<style lang="scss" scoped>
    @import '../scss/componentStyles/AddNewMeal.scss';
</style>
