<template>
    <div class="sides__side sides__side-2">
        <div class="content">
            <h1><span class="bold">Welcome Back</span><br> to the <span class="bold">Preppt</span> <span class="blue">App</span></h1>
            <h3 class="subtext">The only wat to create professional diets yourself.</h3>
            <form @submit.prevent="onSubmit" @keyup.enter="onSubmit" class="form">
                <p class="form__heading">Enter Details</p>
                <div class="input" :class="{invalid: $v.email.$error}">
                    <input 
                        class="form__input form__input--1" 
                        type="email" name="email" 
                        placeholder="Email Address"
                        v-model="email"
                        @blur="$v.email.$touch()"
                    >
                </div>
                <div class="password" :class="{invalid: $v.password.$error}">
                    <input 
                        class="form__input form__input--2" 
                        :type="passType"
                        placeholder="Password"
                        v-model="password"
                        @blur="$v.password.$touch()"
                    >
                    <inline-svg @click="showPass()" :src="require('../assets/svg/eye-open.svg')" class="password__icon"/>
                </div>
                <a class="form__forgot">Forgot Password?</a>
                <button :disabled="$v.$invalid" class="login" type="submit">Login</button>
            </form>
            <p class="signup">Don't have an account? <router-link to="/signup" tag="a" class="signup__btn"> Sign Up</router-link></p>
            <div class="social">
                <h3 class="social__heading">or sign in with</h3>
                <div class="social__icons">
                    <button class="social__btn social__btn--1">
                        <inline-svg :src="require('../assets/svg/insta.svg')" class="social__icon social__icon--1"/>
                    </button>
                    <button class="social__btn social__btn--2">
                        <inline-svg :src="require('../assets/svg/facebook.svg')" class="social__icon social__icon--2"/>
                    </button>
                    <button class="social__btn social__btn--3">
                        <inline-svg :src="require('../assets/svg/linkedin.svg')" class="social__icon social__icon--3"/>
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { required, email, minLength } from 'vuelidate/lib/validators';
    import { auth } from '../firebase'

    export default {
        data () {
            return {
                email: null,
                password: null,
                passType: 'password'
            }
        },

        validations: {
            email: {
                required,
                email
            },

            password: {
                required,
                minLeng: minLength(6)
            }
        },

        methods: {
            onSubmit () {
                auth.signInWithEmailAndPassword(this.email, this.password)
                    .then(() => {
                        this.$store.dispatch('getUserData')
                        this.$router.replace('/dashboard')
                    })
                    .catch((error) => {
                        const errorCode = error.code;
                        const errorMessage = error.message;
                        if (errorCode === 'auth/wrong-password') {
                            alert('Wrong password.');
                        } else {
                            alert(errorMessage);
                        }
                        alert(error);
                    });
            },

            showPass () {
                if (this.passType === 'password') {
                    this.passType = 'text'
                } else {
                    this.passType = 'password'
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "../scss/componentStyles/login.scss";
</style>