<template>
    <div class="nav-container">
        <div class="nav-container__left">
            <form class="search" @submit.prevent="onSubmit" @keyup.enter="onSubmit">
                <input class="search__input" type="text" placeholder="Search Preppt...">
                <button class="search__btn" type="submit">
                    <inline-svg
                        :src="require('../assets/svg/search.svg')"
                        class="search__btn--icon"
                    ></inline-svg>
                </button>
            </form>
        </div>
        <div class="nav-container__right">
            <div class="notification">
                <inline-svg
                    :src="require('../assets/svg/noti-bell.svg')"
                    class="notification__icon"
                ></inline-svg>
            </div>
            <div class="user">
                <img class="user__pic" :src="showProfileImg" alt="">
                <h2 class="user__name">{{ showUserName }}</h2>
                <inline-svg
                    :src="require('../assets/svg/arrow-down.svg')"
                    class="user__dropdown"
                    @click="showDropdown"
                ></inline-svg>
            </div>
            <div class="navbar-dropdown" :class="{show: dropdownActive}">
                <ul class="nabar-dropdown__list">
                    <router-link to="profile" tag="li" class="list-item">
                        <inline-svg
                            :src="require('../assets/svg/Profile.svg')"
                        ></inline-svg>
                        Edit Profile
                    </router-link>
                    <router-link to="diets" tag="li" class="list-item">
                        <inline-svg
                            :src="require('../assets/svg/Diets.svg')"
                        ></inline-svg>
                        My Diet Plans
                    </router-link>
                    <li @click="logout" class="list-item">
                        <inline-svg
                            :src="require('../assets/svg/switch.svg')"
                        ></inline-svg>
                        Log Out
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    import { auth } from '../firebase'
    import { mapGetters } from 'vuex'

    export default {
        data () {
            return {
                dropdownActive: false
            }
        },

        methods: {
            showDropdown () {
                return this.dropdownActive = !this.dropdownActive
            },

            logout () {
                auth.signOut()
                    .then(() => {
                        this.$router.replace('login')
                        window.localStorage.clear()
                    })
            }
        },

        computed: {
            ...mapGetters({
                showUserName: 'getUserName',
                showProfileImg: 'getUserImg'
            }),
        }
    }
</script>

<style lang="scss" scoped>
    @import '../scss/componentStyles/navbar.scss';
</style>