<template>
    <div class="card">
        <p class="card__heading">{{ name }}</p>
        <div class="progress">
            <div class="minmax">
                <p class="min">0</p>
                <p class="max">{{ max }}</p>
            </div>
            <div class="progress__bar">
                <div class="progress__bar--bg"></div>
                <div class="progress__bar--bar">
                    <div class="bar"></div>
                    <div class="barIcon">
                        <inline-svg
                            :src="require(`../assets/svg/${category}-icon.svg`)"
                        ></inline-svg>
                        <p>{{ counter }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'name',
            'counter',
            'max',
            'category'
        ],

        data () {
            return {
                percent: 40,
                completedSteps: 80,
                totalSteps: 100
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import '../scss/componentStyles/OverviewSummaryCard.scss';
</style>