<template>
    <div class="planoverview">
        <div class="dietaryDetails">
            <summaryCard :name="calorieData.name" :counter="calorieData.counter" :max="calorieData.max" :category="calorieData.category"></summaryCard>
            <summaryCard :name="proteinData.name" :counter="proteinData.counter" :max="proteinData.max" :category="proteinData.category"></summaryCard>
            <summaryCard :name="fatData.name" :counter="fatData.counter" :max="fatData.max" :category="fatData.category"></summaryCard>
            <summaryCard :name="carbData.name" :counter="carbData.counter" :max="carbData.max" :category="carbData.category"></summaryCard>
        </div>
        <div class="dietCalendarOverview">
            <div class="dietCalendarOverview__weeks-container">
                <div class="dietCalendarOverview__weeks-container__item active">
                    <p>Week 01</p>
                </div>
                <div class="dietCalendarOverview__weeks-container__item">
                    <p>Week 02</p>
                </div>
                <div class="dietCalendarOverview__weeks-container__item">
                    <p>Week 03</p>
                </div>
                <div class="dietCalendarOverview__weeks-container__item">
                    <p>Week 04</p>
                </div>
                <div class="dietCalendarOverview__weeks-container__item">
                    <p>Week 05</p>
                </div>
                <div class="dietCalendarOverview__weeks-container__item">
                    <p>Week 06</p>
                </div>
                <div class="dietCalendarOverview__weeks-container__item">
                    <inline-svg
                        :src="require('../assets/svg/controls.svg')"
                    ></inline-svg>
                </div>
            </div>
            <div class="dietCalendarOverview__days-container">
                <div class="dietCalendarOverview__days-container__item">Monday</div>
                <div class="dietCalendarOverview__days-container__item active">Tuesday</div>
                <div class="dietCalendarOverview__days-container__item">Wednesday</div>
                <div class="dietCalendarOverview__days-container__item">Thursday</div>
                <div class="dietCalendarOverview__days-container__item">Friday</div>
                <div class="dietCalendarOverview__days-container__item">Saturday</div>
                <div class="dietCalendarOverview__days-container__item">Sunday</div>
            </div>
        </div>
        <div class="overviewMealContainer">
            <meal-card/>
            <meal-card/>
            <meal-card/>
            <meal-card/>
        </div>
    </div>
</template>

<script>
    import OverviewSummaryCard from './OverviewSummaryCard'
    import OvervieMealCard from './OverviewMealCard'

    export default {
        components: {
            'summaryCard': OverviewSummaryCard,
            'mealCard': OvervieMealCard
        },

        data () {
            return {
                calorieData: {
                    name: "Daily Calorie Intake (kcal)",
                    counter: "900",
                    max: "1800",
                    category: "calorie"
                },

                proteinData: {
                    name: "Daily Protein Intake (g)",
                    counter: "60",
                    max: "120",
                    category: "protein"
                },

                fatData: {
                    name: "Daily Fat Intake (g)",
                    counter: "45",
                    max: "90",
                    category: "fats"
                },

                carbData: {
                    name: "Daily Carb Intake (g)",
                    counter: "5",
                    max: "10",
                    category: "carbs"
                },

                progress: 10
            }
        },
    }
</script>

<style lang="scss" scoped>
    @import '../scss/componentStyles/overviewDetails.scss';
</style>