<template>
    <div class="mealcard-container">
        <div class="top">
            <p class="top__left">
                Breakfast
            </p>
            <inline-svg
                class="top__right"
                :src="require('../assets/svg/like-icon.svg')"
            ></inline-svg>
        </div>
        <p class="mealcard-container__content">
            Keto bread and bacon pieces
        </p>
    </div>
</template>

<script>
export default {
    
}
</script>

<style lang="scss" scoped>
    @import '../scss/componentStyles/overviewMealCard.scss';
</style>