<template>
    <div>
        <div class="diets__container--topbar">
            <select class="select" name="dietType" id="dietType" v-model="typeSelect">
                <option selected  value="all">Select Diet Type</option>
                <option v-for="dietType in dietTypes" :value="dietType" :key="dietType">{{ dietType }}</option>
            </select>
            <select class="select" name="dietType" id="dietType" v-model="durationSelect">
                <option selected value="all">Diet Duration</option>
                <option v-for="(n, index) in dietDuration" :value="n" :key="index">{{ n }} weeks</option>
            </select>
        </div>
        <div class="dietList">
            <DietInfoCard
                v-for="ownDiet in plans"
                :key="ownDiet.name"
                :name="ownDiet.dietName"
                :type="ownDiet.dietType"
                :duration="ownDiet.weeks"
                :allergies="ownDiet.allergies"
                :startTime="ownDiet.startTime"
                :endTime="ownDiet.endTime"
            />
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import DietInfoCard from '../components/DietInfoCard'

export default {
    data () {
        return {
            dietDuration: [],
            dietTypes: [],
            durationSelect: 'all',
            typeSelect: 'all',
            plans: [],
            allPlans: []
        }
    },

    components:{
        DietInfoCard
    },

    mounted () {
        this.planDuration()
        this.planTypes()
        this.allPlans = this.getUserOwnDiets
        this.plans = this.filterPlansByType
    },

    methods: {
        planDuration () {
            this.getUserOwnDiets.forEach(plan => {
                if (!this.dietDuration.includes(plan.weeks.length)) {
                    this.dietDuration.push(plan.weeks.length)
                }
            })
        },

        planTypes () {
            this.getUserOwnDiets.forEach(plan => {
                if (!this.dietTypes.includes(plan.dietType)) {
                    this.dietTypes.push(plan.dietType)
                }
            })
        }
    },

    computed: {
        ...mapGetters([
            'getDietTypes',
            'getUserOwnDiets'
        ]),

        filterPlansByType () {
            if (this.typeSelect === null || this.typeSelect === 'all') {
                return this.getUserOwnDiets
            }
            const filterByType = this.allPlans.filter(plan => {
                return plan.dietType === this.typeSelect
            })
            return filterByType
        },

        filterPlans () {
            if (this.durationSelect === null || this.durationSelect === 'all') {
                return this.filterPlansByType
            }
            const filterByDuration = this.filterPlansByType.filter(plan => {
                return plan.weeks.length === this.durationSelect
            })
            return filterByDuration
        }
    },

    watch: {
        durationSelect () {
            this.plans = this.filterPlans
        },

        typeSelect () {
            this.plans = this.filterPlansByType
        }
    }
}
</script>

<style lang="scss" scoped>
    @import '../scss/viewStyles/Diets.scss';
</style>