<template>
    <div class="product">
        <div class="topbar">
            <div class="left">
                <p class="left__name">{{ selectedProduct.name }}</p>
                <p class="left__energy">{{ selectedProduct.energy }}</p>
                <button v-if="!editProductActive" class="left__btn" @click="editProductActive = true">Edit</button>
            </div>
            <div class="right">
                <button v-if="!editProductActive" class="cancel" @click="removeItem">
                    <inline-svg
                        :src="require('../assets/svg/addition-icon.svg')"
                    ></inline-svg>
                </button>
                <button
                    v-if="editProductActive" 
                    class="right__btn" 
                    @click="[(editProductActive = false), updateValues()]"
                >
                    Done
                </button>
            </div>
        </div>
        <div class="details">
            <div class="macros">
                <p class="details__heading">Macros</p>
                <div class="macros__container container">
                    <div class="wrapper" v-for="(macro, name, index) in selectedProduct.macros" :key="index">
                        <p>{{ name }}</p>
                        <p>{{ macro }}</p>
                    </div>
                </div>
            </div>
            <div class="serving">
                <p class="details__heading">Serving Size (g)</p>
                <input 
                    type="number" 
                    :placeholder="ogServSize" 
                    v-model.number="productServSize" 
                    :disabled="!editProductActive"
                >
            </div>
            <div class="micros">
                <p class="details__heading">Micros</p>
                <div class="macros__container container">
                    <div class="wrapper" v-for="(micro, name, index) in selectedProduct.micros" :key="index">
                        <p>{{ name }}</p>
                        <p>{{ micro }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Vue from 'vue'
import { mapGetters } from 'vuex'

export default {
    data () {
        return {
            selectedProduct: {},
            productServSize: 0,
            ogServSize: 0,
            macros: {
                protein: '',
                carbs: '',
                fats: '',
                fibre: ''
            },
            micros: {},
            energy: '',
            ogEnergy: '',
            editProductActive: false
        }
    },

    props: [
        'product',
    ],

    mounted () {
        this.selectedProduct = Vue.observable(JSON.parse(JSON.stringify(this.product)))

        this.serving()
        
        Object.assign(this.selectedProduct.macros, this.product.macros)
        Object.assign(this.selectedProduct.micros, this.product.micros)
    },

    methods: {
        serving () {
            const num = this.selectedProduct.servingSize.split(' ')[0]
            const energy = this.selectedProduct.energy.split(' ')[0]
            this.productServSize = parseFloat(num)
            this.ogServSize = parseFloat(num)
            this.energy = parseFloat(energy)
            this.ogEnergy = parseFloat(energy)
        },

        removeItem () {
            this.updateValues()
            this.$emit('removeProduct', this.product)
        },

        updateValues () {
            Object.keys(this.selectedProduct.macros).forEach(key => {
                let num = parseFloat(this.selectedProduct.macros[key].split(' ')[0])
                let perGram = parseFloat(num / this.ogServSize)
                let newTotal = `${(perGram * this.productServSize).toFixed(1)} g`
                Vue.set(this.selectedProduct.macros, key, newTotal)
            })

            Object.keys(this.selectedProduct.micros).forEach(key => {
                const num = parseFloat(this.selectedProduct.micros[key].split(' ')[0])
                let perGram = parseFloat(num / this.ogServSize)
                const metric = this.selectedProduct.micros[key].split(' ')[1]
                let newTotal = `${(perGram * this.productServSize).toFixed(1)} ${metric}`
                Vue.set(this.selectedProduct.micros, key, newTotal)
            })

            const energyVal = parseInt(this.selectedProduct.energy.split(" ")[0])
            let perGram = parseFloat(energyVal / this.ogServSize)
            let newTotal = `${(perGram * this.productServSize).toFixed(0)} kcal`
            this.selectedProduct.energy = newTotal

            let newServSize = `${this.productServSize} g`
            this.selectedProduct.servingSize = newServSize

            this.ogServSize = parseInt(newServSize.split(" ")[0])

            this.$store.commit('UPDATE_PRODUCT_NUTRI_VALS', this.selectedProduct)
        }
    },

    computed: {
        ...mapGetters({
            selectedProducts: 'getMealSelectedProducts'
        })
    }
}
</script>

<style lang="scss" scoped>
    @import '../scss/componentStyles/ProductOverviewCard.scss';
</style>