<template>
    <div class="stepone">
        <div class="stepone__col">
            <div class="inputfield-group input" :class="{invalid: $v.fullName.$error}">
                <label for="fullname">First & Last Name:</label>
                <p class="validation-warning" v-if="$v.fullName.$error && !$v.fullName.required">Please provide a full name.</p>
                <p class="validation-warning" v-else-if="$v.fullName.$error && !$v.fullName.minLeng">Please enter 2 or more characters.</p>
                <input class="inputfield-group__input--1" v-model="fullName" @blur="$v.fullName.$touch()" name="fullname" type="text">
            </div>
            <div class="inputfield-group input" :class="{invalid: $v.dob.$error}">
                <label>Date of Birth:</label>
                <p class="validation-warning" v-if="$v.dob.$error && !$v.dob.required">Please enter your date of birth.</p>
                <input class="inputfield-group__input--6" type="text" v-mask="'##/##/####'" placeholder="mm/dd/yyyy" v-model="dob" @blur="$v.dob.$touch()">
            </div>
            <div class="inputfield-group input" :class="{invalid: $v.email.$error}">
                <label for="email">Email:</label>
                <p class="validation-warning" v-if="$v.email.$error && !$v.email.required">Please enter an email.</p>
                <p class="validation-warning" v-else-if="$v.email.$error && !$v.email.email">Please enter a valid email.</p>
                <input class="inputfield-group__input--2" v-model="email" @blur="$v.email.$touch()" name="email" type="text">
            </div>
        </div>
        <div class="stepone__col">
            <div class="inputfield-group input" :class="{invalid: $v.metric.$error}">
                <label for="metrics">Metrics:</label>
                <p class="validation-warning" v-if="$v.metric.$error && !$v.metric.required">Please select a metric.</p>
                <div class="select">
                    <select class="metric-select" name="format" id="format" v-model="metric" @blur="$v.metric.$touch()">
                        <option selected disabled>Choose a metric</option>
                        <option value="metric">Killograms/Grams</option>
                        <option value="imperial">Pounds/Ounces</option>
                    </select>
                </div>
            </div>
            <div class="inputfield-group input" :class="{invalid: $v.weight.$error}">
                <label for="weight">Weight:</label>
                <p class="validation-warning" v-if="$v.weight.$error && !$v.weight.required">Please enter your weight.</p>
                <p class="validation-warning" v-if="$v.weight.$error && !$v.weight.minLeng">Enter a weight above 20 {{ selectedMetric }}</p>
                <p class="validation-warning" v-if="$v.weight.$error && !$v.weight.min">Invalid Weight</p>
                <div class="weight">
                    <input class="inputfield-group__input--3" v-model="weight" @blur="$v.weight.$touch()" name="weight" v-mask="'###'" type="text">
                    <p class="weight-metric">{{ selectedMetric }}</p>
                </div>
            </div>
            <div class="inputfield-group input">
                <label for="number">Mobile number: (optional)</label>
                <input class="inputfield-group__input--4" v-model="tel" name="number" v-mask="['(##) ####-####', '(###) ###-####']" type="tel">
            </div>
        </div>
        <div class="stepone__col">
            <div class="inputfield-group input" :class="{invalid: $v.bodyFat.$error}">
                <label for="bodyfat">Bodyfat:</label>
                <p class="validation-warning" v-if="$v.bodyFat.$error && !$v.bodyFat.required">Please enter your bodyfat %.</p>
                <p class="validation-warning" v-if="$v.bodyFat.$error && !$v.bodyFat.minLeng">Enter at least 1 character.</p>
                <p class="validation-warning" v-if="$v.bodyFat.$error && !$v.bodyFat.min">Enter a valid bodyfat amount</p>
                <div class="bodyfat">
                    <input class="inputfield-group__input--5" v-model="bodyFat" @blur="$v.bodyFat.$touch()" name="bodyfat" v-mask="'##'" type="text">
                    <p class="bodyfat-perc">%</p>
                </div>
            </div>
            <div class="inputfield-group input" :class="{invalid: $v.imagePreview.$error}">
                <label>Profile Pic: (.jpg)</label>
                <p class="validation-warning" v-if="$v.imagePreview.$error && !$v.imagePreview.required">Please upload a profile pic.</p>
                <div class="inputfield-group__upload">
                    <img :src="imagePreview" class="preview-img" @click="openUpload">
                    <input ref="fileUploadInput" name="uploadimg" type="file" accept="image/jpg" id="file-input" @change="updatePreview" @blur="$v.imagePreview.$touch()" style="display:none">
                    <button @click="openUpload" class="uploadimg">
                        <inline-svg
                            :src="require('../assets/svg/pencil.svg')"
                        ></inline-svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { required, email, minLength, between } from 'vuelidate/lib/validators';
    // import Datepicker from 'vuejs-datepicker'

    export default {
        data () {
            return {
                fullName: "",
                dob: "",
                email: "",
                metric: "",
                weight: null,
                tel: null,
                bodyFat: null,
                imagePreview: "",
                uploadImg: "",
                disabledDates: {
                    from: new Date(2001, 0, 1)
                },
                openDate: new Date(2001, 0, 1),
            }
        },

        validations: {
            fullName: {
                required,
                minLeng: minLength(2)
            },

            dob: {
                required
            },

            email: {
                email,
                required
            },

            metric: {
                required
            },

            weight: {
                required,
                minLeng: minLength(2),
                min: between(20, 400)
            },

            bodyFat: {
                required,
                minLeng: minLength(1),
                min: between(1, 99)
            },

            imagePreview: {
                required
            }
        },

        activated () {
            this.submit()
        },

        methods: {
            openUpload () {
                this.$refs.fileUploadInput.click()
            },

            updatePreview (e) {
                let reader
                const files = e.target.files

                if (files.length === 0) {
                    return
                }

                reader = new FileReader()
                reader.onload = (e) => {
                    this.imagePreview = e.target.result
                }

                reader.readAsDataURL(files[0])
            },

            submit () {
                this.$emit('update', {
                    data: {
                        fullName: this.fullName,
                        dob: this.dob,
                        email: this.email,
                        metric: this.metric,
                        weight: this.weight,
                        tel: this.tel,
                        bodyFat: this.bodyFat,
                        profilePic: this.imagePreview.slice(23),
                    },
                    valid: !this.$v.$invalid
                })
            }
        },

        computed: {
            dateFormat (date) {
                return date.toString()
            },

            selectedMetric () {
                return this.metric === 'metric' ? 'kg' : 'lbs'
            },

            isValid () {
                return !this.$v.$invalid
            }
        },

        watch: {
            isValid: {
                handler () {
                    this.submit()
                },
                immediate: true
            }
        }
    }
</script>

<style lang="scss">
    @import "../scss/componentStyles/signupStep1.scss";
</style>