<template>
    <div class="steptwo">
        <div class="steptwo__col">
            <div class="inputfield-group input">
                <label for="allergies">Food Allergies:</label>
                <div class="select select--1">
                    <select name="allergies" id="format" v-model="allergies">
                        <option value="no">No</option>
                        <option value="yes">Yes</option>
                    </select>
                </div>
            </div>
            <div class="inputfield-group input" :class="{invalid: $v.allergyList.$error}">
                <p class="validation-warning" v-if="$v.allergyList.$error && !$v.allergyList.required">Please enter your allergies.</p>
                <p class="validation-warning" v-else-if="$v.allergyList.$error && !$v.allergyList.minLength">Please a valid allergy.</p>
                <textarea  
                    placeholder="Please enter them here seperated by a comma ( , )" 
                    class="inputfield-group__input" 
                    v-model="allergyList"
                    :disabled="notAllergic"
                    @blur="$v.allergyList.$touch()"
                ></textarea>
            </div>
        </div>
        <div class="steptwo__col">
            <div class="inputfield-group input" :class="{invalid : $v.activeLevel.$error}">
                <label for="activity">Activity Level:</label>
                <div class="select select--2">
                    <select name="activity" v-model="activeLevel" @blur="$v.activeLevel.$touch()">
                        <option selected disabled>Select your activity level</option>
                        <option value="sedentary">Sedentary = little or no exercise, desk job</option>
                        <option value="Lightly">Lightly active = light exercise/sports 1-3 days/week</option>
                        <option selected value="Moderately">Moderately active = moderate exercise/sports 6-7 days</option>
                        <option value="Very">Very active = hard exercise every day, or 2x/day</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { required, requiredIf, minLength } from 'vuelidate/lib/validators'

    export default {
        data () {
            return {
                allergies: "no",
                activeLevel: "",
                notAllergic: true,
                allergyList: ""
            }
        },

        validations: {
            activeLevel: {
                required
            },

            allergyList: {
                minLength: minLength(2),

                required: requiredIf(function () {
                    return !this.notAllergic
                })
            }
        },

        activated () {
            this.submit()
        },

        methods: {
            submit () {
                this.$emit('update', {
                    data: {
                        hasAllergies: this.allergies,
                        allergyList: this.allergyList,
                        activeLevel: this.activeLevel
                    },
                    valid: !this.$v.$invalid
                })
            }
        },

        computed: {
            isValid () {
                return !this.$v.$invalid
            }
        },
        
        watch: {
            allergies: {
                handler () {
                    if (this.allergies === "no") {
                        this.notAllergic = true
                        this.allergyList = ""
                    } else {
                        return this.notAllergic = false
                    }
                },
                emmediate: true
            },

            isValid: {
                handler () {
                    this.submit()
                },
                immediate: true
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "../scss/componentStyles/signupStep2.scss";
</style>