<template>
    <div class="sides__side sides__side-2">
        <div>
            <h1><span class="bold">Welcome</span><br> to the <span class="bold">Preppt</span> <span class="blue">App</span></h1>
            <h3 class="subtext">The only wat to create professional diets yourself.</h3>
            <form @submit.prevent="onSubmit" @keyup.enter="onSubmit" class="form">
                <p class="form__heading">Enter Details</p>
                <div class="input" :class="{invalid: $v.email.$error}">
                    <p class="validation-warning" v-if="!$v.email.email">Please fill in a valid email address</p>
                    <input
                        class="form__input form__input--1"
                        type="email"
                        placeholder="Email Address"
                        v-model="email"
                        @blur="$v.email.$touch()"
                    >
                </div>
                <div class="password" :class="{invalid: $v.password.$error}">
                    <input 
                        class="form__input form__input--2" 
                        :type="passType" 
                        placeholder="Password"
                        v-model="password"
                        @blur="$v.password.$touch()"
                    >
                    <inline-svg @click="showPass('pass')" :src="require('../assets/svg/eye-open.svg')" class="password__icon"/>
                </div>
                <div class="password" :class="{invalid: $v.confirmPassword.$error}">
                    <input 
                        class="form__input form__input--2" 
                        :type="confirmType"
                        placeholder="Reconfirm Password"
                        v-model="confirmPassword"
                        @blur="$v.confirmPassword.$touch()"
                    >
                    <inline-svg @click="showPass('confpass')" :src="require('../assets/svg/eye-open.svg')" class="password__icon"/>
                </div>
                <button class="login" :disabled="$v.$invalid" type="submit">Sign Up</button>
            </form>
            <p class="signup">I have an account? <router-link to="/login" tag="a" class="signup__btn"> Log In</router-link></p>
            <div class="social">
                <h3 class="social__heading">or connect with us</h3>
                <div class="social__icons">
                    <button class="social__btn social__btn--1">
                        <inline-svg :src="require('../assets/svg/insta.svg')" class="social__icon social__icon--1"/>
                    </button>
                    <button class="social__btn social__btn--2">
                        <inline-svg :src="require('../assets/svg/facebook.svg')" class="social__icon social__icon--2"/>
                    </button>
                    <button class="social__btn social__btn--3">
                        <inline-svg :src="require('../assets/svg/linkedin.svg')" class="social__icon social__icon--3"/>
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { required, email, minLength, sameAs } from 'vuelidate/lib/validators';
    import { auth } from '../firebase';

    export default {
        data () {
            return {
                email: '',
                password: '',
                confirmPassword: '',
                passType: 'password',
                confirmType: 'password'
            }
        },

        validations: {
            email: {
                required,
                email
            },

            password: {
                required,
                minLen: minLength(6)
            },

            confirmPassword: {
                sameAs: sameAs('password')
            }
        },

        methods: {
            onSubmit () {
                auth.createUserWithEmailAndPassword(this.email, this.password)
                    .then(() => {
                        this.$router.replace('/signupsteps')
                    })
                    .catch((error) => {
                        const errorCode = error.code;
                        const errorMessage = error.message;
                        if (errorCode == 'auth/weak-password') {
                            alert('The password is too weak.');
                        } else {
                            alert(errorMessage);
                        }
                        alert(error);
                    });
            },

            showPass (pass) {
                if (pass === 'confpass') {
                    if (this.confirmType === 'password') {
                        this.confirmType = 'text'
                    } else {
                        this.confirmType = 'password'
                    }
                } else if (pass === 'pass') {
                    if (this.passType === 'password') {
                        this.passType = 'text'
                    } else {
                        this.passType = 'password'
                    }
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import '../scss/componentStyles/login.scss';
</style>