<template>
    <div class="timeline-details">
        <div class="top-bar">
            <div class="top-bar__left">
                <h2><strong>{{ months[currentMonth] }}</strong> {{ currentYear }}</h2>
            </div>
            <div class="top-bar__right">
                <div class="editPlan">
                    <button class="editPlan__btn">Edit Diet Plan</button>
                </div>
                <div class="monthbtns">
                    <inline-svg
                        :src="require('../assets/svg/arrow-left.svg')"
                        class="left"
                        @click="goBackMonth"
                    ></inline-svg>
                    <inline-svg
                        :src="require('../assets/svg/arrow-left.svg')"
                        class="right"
                        @click="goNextMonth"
                    ></inline-svg>
                </div>
            </div>
        </div>
        <div class="timeline-container">
            <div class="dates" v-for="(n, index) in daysInMonth" :key="index" :class="{currentDay: n === now && currentMonth === new Date().getMonth()}">
                <div v-if="n === now && currentMonth === new Date().getMonth()" class="active-dates">
                    <div class="today-name">Today</div>
                    <div class="dates__name">{{ dayName(n) === 0 ? days[6] : days[dayName(n) - 1] }}</div>
                    <div class="dates__date">{{ n }}</div>
                </div>
                <div v-else class="inactive-dates">
                    <div class="dates__name">{{ dayName(n) === 0 ? days[6] : days[dayName(n) - 1] }}</div>
                    <div class="dates__date">{{ n }}</div>
                </div>
            </div>
        </div>
        <div class="dayDisplay-container">
            <div class="navArrowLeft">
                <inline-svg
                    :src="require('../assets/svg/arrow-left.svg')"
                ></inline-svg>
            </div>
            <div class="content">
                <div class="time" v-for="(n, index) in 24" :key="index" :style="gridCol(n)">
                    <div v-if="n < 24">
                        {{ n &lt; 10 ? '0' + n + ':00' : n + ':00' }}
                    </div>
                    <div v-else>
                        00:00
                    </div>
                </div>
                <div class="time-indicator"></div>
                <div class="meal-container">
                    <div class="meal meal-1">
                        <h3>Breakfast</h3>
                        <p>Keto bread and bacon bits</p>
                    </div>
                    <div class="meal-progress"></div>
                    <div class="meal-bg"></div>
                </div>
                <div class="meal-container">
                    <div class="meal">meal 2</div>
                    <div class="meal-bg"></div>
                    <div class="meal-bg"></div>
                </div>
                <div class="meal-container">
                    <div class="meal">meal 3</div>
                    <div class="meal-bg"></div>
                    <div class="meal-bg"></div>
                </div>
                <div class="meal-container">
                    <div class="meal">meal 4</div>
                    <div class="meal-bg"></div>
                    <div class="meal-bg"></div>
                </div>
            </div>
            <div class="navArrowRight">
                <inline-svg
                    :src="require('../assets/svg/arrow-left.svg')"
                ></inline-svg>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                now: new Date().getDate(),
                currentDay: new Date().getDay(),
                currentMonth: new Date().getMonth(),
                currentYear: new Date().getFullYear(),
                days: ['M', 'T', 'W', 'T', 'F', 'S', 'S'],
                months: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
            }
        },

        mounted () {
            console.log(this.dayName(1));
            console.log(this.now)
        },

        methods: {
            dayName (day) {
                return new Date(this.currentYear, this.currentMonth, day).getDay()
            },

            gridCol (n) {
                return {gridColumn: `${n} / span 1`}
            },

            goBackMonth () {
                if (this.currentMonth > 0) {
                    this.currentMonth--
                } else {
                    this.currentMonth = 11
                    this.currentYear--
                }
            },

            goNextMonth () {
                if (this.currentMonth < 11) {
                    this.currentMonth++
                } else {
                    this.currentMonth = 0
                    this.currentYear++
                }
            }
        },

        computed: {
            daysInMonth () {
                return 32 - new Date(this.currentYear, this.currentMonth, 32).getDate();
            },

            firstDayOfMonth () {
                return (new Date(this.currentYear, this.currentMonth)).getDay();
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "../scss/componentStyles/TimelineDetails.scss";
</style>