.addplan { 
    position: relative;
    width: 100%;
    height: 100%;

    .topbar {
        display: flex;
        justify-content: flex-end;
        width: 100%;

        &__remove-plan,
        &__remove-plan:focus {
            border: 2px solid $secondary-color;
            border-radius: 4px;
            font-size: $default-font-size;
            padding: 6px 14px;
            background-color: white;
            outline: none;
            cursor: pointer;
            color: $secondary-color;
            font-weight: 600;
        }
    }

    .mainDietDetails {
        display: grid;
        grid-template-columns: 3fr 4fr 3fr;
        column-gap: 40px;
    }

    .dietType {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-radius: 6px;
        padding: 16px;
        background-color: white;
        box-shadow: $stdBoxShadow;

        h3 {
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 8px;
        }

        &__selector {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            &--diet {
                font-size: 18px;
                font-weight: 500;
            }


            .arrow {
                fill: $text-color;
                height: 12px;
                width: 12px;
                cursor: pointer;
            }

            .arrow-right {
                transform: rotate(180deg);
            }
        }
    }

    .dietName {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;

        &__label {
            position: relative;
            font-size: 18px;
            font-weight: 500;
            margin-bottom: -8px;
            z-index: 10;

            &--error {
                font-weight: 600;
                color: red;
            }
        }

        &__input {
            font-size: 52px;
            line-height: 1.4;
            font-weight: 600;
            border: none;
            border-bottom: 2px solid $secondary-color;

            &.invalid {
                border-bottom: 2px solid red;
            }

            &::placeholder {
                font-size: 52px;
                font-weight: 600;
                color: $text-color;
            }

            &:focus {
                outline: none;
            }
        }

        &__charAmount {
            position: absolute;
            right: 0;
            bottom: 17%;
            font-weight: 500;
            color: $light-grey-color-2;
        }
    }

    .timeframe {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .from {
            font-size: 16px;
            margin-bottom: 8px;
            font-weight: 500;

            &--error {
                color: red;
                font-weight: 600;
            }
        }

        &__fromTo {
            display: flex;
            justify-content: space-between;
            align-items: center;

            p {
                font-size: 16px;
                font-weight: 500;
            }
        }

        &__input {
            position: relative;
            padding: 6px;
            font-size: 16px;
            border-radius: 3px;
            border: 2px solid $light-grey-color;
            width: 100px;
            text-align: center;

            &:focus {
                outline: none;
                border: 2px solid $primary-color;
            }
        }
    }

    .userDetails {
        display: grid;
        grid-template-columns: 5fr 2fr 5fr;
        grid-column-gap: 30px;
        margin-top: 30px;

        .row-1 {
            label {
                margin-bottom: 40px;
            }
        }

        &__info {
            display: flex;

            .bodyfat, .weight, .height {
                width: 60px;
                
                &:focus {
                    outline: none;
                    border: 2px solid $primary-color;
                }
            }

            .weight {
                margin-right: 30px;
            }

            .goal {
                padding-right: 30px;
                width: 100%;
            }

            input {
                position: relative;
                padding: 6px;
                font-size: 16px;
                border-radius: 3px;
                border: 2px solid $light-grey-color;
            }

            &--metrics {
                display: grid;
                grid-template-rows: repeat(2, 55px);
                align-content: space-between;
                width: 100%;
                padding-bottom: 2px;
            }

            .col {
                display: flex;
                flex-direction: column;

                .weightgoal {
                    display: flex;

                    &__container {
                        display: flex;
                        flex-direction: column;
                    }
                }

                .height {
                    &__container {
                        width: 100%;
                    }
                }
            }

            .row {
                display: flex;
                justify-content: space-between;

                .metric__container, .weightgoal__container {
                    width: 100%;
                }

                .gender-select {
                   width: 140px;
                }
            }

            .dropdown-row {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-column-gap: 20px;
            }

            .select-allergies {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 100%;
                border: 2px solid $light-grey-color;
                border-radius: 3px;
                font-size: 16px;
                font-weight: 500;
                padding: 4px;
                cursor: pointer;

                svg {
                    margin-top: 10px;
                }

                &:focus {
                    outline: none;
                }
            }

            .select-1 {
                width: 100%;
            }

            .select-2 {
                width: 300px;
            }

            textarea {
                position: relative;
                padding: 6px;
                font-size: 16px;
                border-radius: 3px;
                border: 2px solid $light-grey-color;
                height: 110px;
                width: 100%;
            }
        }

        &__stats {
            position: relative;
            background-color: white;

            .macros__col {
                height: 100%;
                width: 100%;
            }

            .macros__col:not(:last-of-type) {
                border-right: 1px solid $secondary-color;
            }

            .macros {
                position: relative;
                background-color: white;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                border-radius: 3px;
                border: 2px solid $light-grey-color;
                height: 110px;
                align-content: center;
                justify-items: center;
                text-align: center;
            }

            .title {
                font-size: 18px;
                color: $light-grey-color-2;
                font-weight: 400;
            }

            .amount {
                font-size: 30px;
                padding: 3px 0;
                font-weight: 400;
            }

            .recom-amount {
                font-weight: 400;
                font-size: 16px;
                color: $medium-grey-color;
                width: 52px;
                text-align: center;
                border: none;
                border-bottom: 1px solid $text-color;

                &:disabled {
                    border: none;
                }

                &:focus {
                    outline: none;
                }
            }
        }
    }

    .checkbox {
        display: flex;
        flex-direction: row;

        &:not(:first-of-type) {
            padding-top: 10px;
        }

        label {
            margin-left: 10px;
        }

        &__container {
            border: 2px solid $primary-color;
            border-radius: 3px;
            height: 110px;
            overflow-y: scroll;
            padding: 8px;
        }
    }

    .checkmark {
        height: 20px;
        width: 20px;
        border: 2px solid $light-grey-color-2;
        border-radius: 2px;

        .active {
            border: 2px solid $primary-color;
        }

        svg {
            margin-left: 1px;
            fill: $secondary-color;
            height: 14px;
            width: 14px;
        }
    }

    .addMeal {
        position: absolute;
        bottom: 30px;
        right: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 50%;
        background-color: white;
        box-shadow: $stdBoxShadow;
        cursor: pointer;
        transition: all .2s ease-in-out;

        &:hover {
            box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.13)
        }

        &.rotate {
            transform: rotate(45deg);
        }
    }

    .complete {
        position: absolute;
        bottom: 30px;
        right: 90px;
        width: 42px;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 50%;
        background-color: rgb(2, 204, 2);
        box-shadow: $stdBoxShadow;
        cursor: pointer;

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 26px;
            width: 26px;
            fill: white
        }
    
        &:hover {
            box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.13)
        }
    }

    .removeplan {
        position: absolute;
        bottom: 30px;
        right: 150px;
        width: 42px;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 50%;
        background-color: red;
        box-shadow: $stdBoxShadow;
        cursor: pointer;

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 24px;
            width: 24px;
            fill: white
        }
    
        &:hover {
            box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.13)
        }
    }
}

.dietCalendarOverview {
    @include dietCalOverview
}

.overviewMeal {
    position: relative;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 160px));
    justify-content: space-between;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    margin-top: 30px;
    max-width: 100%;
    height: 200px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    
    &::-webkit-scrollbar {
        display: none;
    }

    h1 {
        grid-column: 1/-1;
        align-self: center;
        justify-self: center;
        color: $light-grey-color;
        user-select: none;
    }

    &__container {
        width: 160px;
        height: 200px;

        // &:not(:first-of-type) {
        //     margin-left: 40px;
        // }
    }

    &__item {
        height: 100%;
        width: 100%;
    }
}

.rmDropdown, .dropdown {
    display: none;
    position: absolute;
    padding: 18px 18px;
    bottom: 90px;
    right: 156px;
    background-color: white;
    filter: drop-shadow(rgba(0, 0, 0, 0.3) 0 2px 10px);
    border-radius: 4px;
    z-index: 999;
    opacity: 0;
    transition: visibility .1s, opacity .1s, height .1s linear;

    &.show {
        display: block;
        opacity: 1;
    }

    ul {
        text-decoration: none;
        list-style: none;
    }

    .list-item {
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;

        &:not(:last-of-type) {
            margin-bottom: 24px;
        }

        &:hover {
            color: $primary-color;
        }
    }

    &::before {
        border: 10px solid;
        border-color: white transparent transparent;
        content: "";
        left: 50%;
        position: absolute;
        bottom: -20px;
        right: 20px;
        left: 83%;
    }
}

.dropdown {
    right: 37px;
}

.section-title{
    font-weight: 18px;
    font-weight: 500;
    padding-bottom: 4px ;

    &:not(:first-of-type) {
        margin-top: 6px;
    }
}

.select {
    select {
        font-size: 16px !important;
        padding: 6px !important;
        background-color: white;
        background-image: url('../assets/arrow-down.png');
        background-size: 16px;
        background-repeat: no-repeat;
        background-position: center right 10px;
    }
}

.duplicator__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
    width: 26px;
    margin-left: 10px;
    padding: 6px;
    cursor: pointer;
    background-color: $verylight-grey-color;
    border-radius: 4px;
    width: max-content;

    p {
        font-size: 16px;
        font-weight: 400;
        color: $medium-grey-color
    }

    svg {
        height: 14px;
        width: 14px;
        margin-left: 4px;
    }
}