.addproduct {
    &__topbar {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 98%;

        .discard-btn,
        .discard-btn:focus {
            border: 2px solid $secondary-color;
            border-radius: 4px;
            font-size: $default-font-size;
            padding: 6px 14px;
            background-color: white;
            outline: none;
            cursor: pointer;
            color: $secondary-color;
            font-weight: 600;
        }

        .discard-btn:hover {
            background-color: $verylight-grey-color;
        }
    }

    &__productName {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;

        &--label {
            font-size: 18px;
            font-weight: 500;
        }

        &--input {
            border: none;
            border-bottom: 2px solid $light-grey-color;
            font-size: 52px;
            padding-bottom: 4px;
            font-weight: 600;

            &:focus {
                outline: none;
            }
            
            &::placeholder {
                color: $text-color;
            }
        }

        &--totalChar {
            position: absolute;
            bottom: 16%;
            right: 0;
            font-size: 14px;
            color: $light-grey-color-2;
        }
    }

    &__body {
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 40px;

        .row-1 {
            width: 100%;
            height: 100%;
        }
        
        .row-3 {
            margin-top: 20px;
        }

        .doneBtn {
            position: absolute;
            bottom: 0;
            right: 0;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            border: none;
            background-color: rgb(0, 209, 0);
            box-shadow: $stdBoxShadow;
            cursor: pointer;

            svg {
                width: 30px;
                height: 30px;
                fill: white;
            }
        }
    }

    &__section {
        margin: 20px 0 20px 0;

        .alongside {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .side-by-side {
            display: flex;
        }

        &--heading {
            position: relative;
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 18px;

            &::after {
                content: "";
                position: absolute;
                bottom: -60%;
                left: 0;
                width: 30%;
                height: 2px;
                background-color: $secondary-color;
            }
        }

        &--input {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            height: 100%;

            label {
                margin: 10px 0 10px 0;
            }

            input {
                margin-right: 10px;
                border: 2px solid $light-grey-color;
                border-radius: 3px;
                font-size: 18px;
                padding: 6px;

                &:focus {
                    outline: none;
                }
            }

            textarea {
                width: 98%;
                height: 80px;
                border: 2px solid $light-grey-color;
                border-radius: 3px;
                font-size: 18px;
                padding: 6px;

                &:focus {
                    outline: none;
                }
            }
        }

        &--checkbox {
            display: flex;
            flex-direction: row;
            padding-top: 10px;

            label {
                margin-left: 10px;
            }
        }

        .checkmark {
            height: 20px;
            width: 20px;
            border: 2px solid $light-grey-color-2;
            border-radius: 2px;

            .active {
                border: 2px solid $primary-color;
            }

            svg {
                margin-left: 1px;
                fill: $secondary-color;
                height: 14px;
                width: 14px;
            }
        }
    }

    &__upload {
        display: flex;
        flex-direction: column;
        margin-top: 30px;

        .preview-img {
            position: relative;
            width: 200px;
            height: 200px;
            object-fit: cover;
            border-radius: 10px;
        }

        .uploadimg {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 36px;
            border: none;
            border-radius: 2px;
            margin-top: 10px;
            color: white;
            background-color: $secondary-color;
            font-size: 16px;
            font-weight: 400;
    
            svg {
                fill: white;
                height: 24px;
                height: 24px;
                padding-right: 10px;
            }
        }
    }
}

.completed {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    &__container {
        position: absolute;
        top: 50%;
        left: 50%;
        width: max-content;
        height: max-content;
        transform: translate(-50%, -100%);
    }

    h3 {
        margin-bottom: 20px;
        text-align: center;
    }

    &__btns {
        font-weight: 500;

        button{
            border: 2px solid $primary-color;
            font-size: 18px;
            font-weight: 500;
            padding: 10px;
            border-radius: 4px;
            margin: 0 10px;

            &:focus {
                outline: none;
            }

            &:hover {
                background-color: $primary-color;
                color: white;
                cursor: pointer;
            }
        }
    }
}