.calculators {
    height: 87%;

    h2 {
        margin-bottom: 30px;
    }

    &__body {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        grid-template-rows: 5fr 4fr 4fr;
        column-gap: 40px;
        row-gap: 40px;
        height: 100%;
        width: 100%;

        .addminusBtns {
            &:active {
                animation: btnSize .1s forwards;
            }
        }
    }

    .age, .weight, .height, .gender, .results {
        background-color: white;
        box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.096);
        border-radius: 6px;
        padding: 14px;
        font-size: 60px;

        h4 {
            font-weight: 500;
            text-align: center;
            font-size: 18px;
        }

        .paragraph {
            font-weight: 300;
            text-align: center;
        }

        input[type="number"] {
            border: none;
            font-size: 60px;
            width: 120px;
            color: $text-color;
            font-weight: 300;
            -moz-appearance: none;
            -webkit-appearance: none;

            &:focus {
                outline: none;
            }

            &::placeholder {
                color: $text-color;
            }

            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                appearance: none;
            }

            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                appearance: none;
            }
        }
    }

    .age, .weight {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    // .weight {

    // }

    .height {
        grid-row: 2 / 3;
        grid-column: 1 / span 2;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        &__body {
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                margin: 0 20px;
                cursor: pointer;
            }
        }

        &__container {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            border: 2px solid $light-grey-color;
            border-radius: 6px;
            padding: 4px 0;
            width: 280px;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 6px;
                height: 8px;
                border-radius: 2px 2px 0 0;
                transform: translateX(-50%);
                background-color: $light-grey-color;
            }
        }

        &__oneUp{
            font-size: 20px;
            margin-left: 10px;
            color: $light-grey-color-2;
        }

        &__oneDown {
            font-size: 20px;
            margin-right: 10px;
            color: $light-grey-color-2;
        }
    }

    .weight {
        &__userWeight.paragraph {
            width: 160px !important;
        }
    }

    .gender {
        grid-row: 3 / 4;
        grid-column: 1 / span 2;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        &__container {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            margin-left: 18px;
        }

        &__gender {
            font-weight: 500;

            &:first-of-type {
                margin-right: 20px;
            }

            &:last-of-type {
                margin-left: 20px;
            }
        }

        &__btns {
            position: relative;
            display: flex;
            justify-content: space-around;
            width: 160px;
            border: 2px solid $light-grey-color;
            border-radius: 6px;

            .togglebtn {
                position: relative;
                border: none;
                padding: 6px;
                width: 50%;
                background-color: transparent;
                cursor: pointer;

                svg {
                    position: relative;
                    fill: black;
                    height: 26px;
                    z-index: 10;

                }

                &:focus {
                    outline: none;
                }

                &.active {
                    position: relative;
                    padding: 10px 20px;
                    border-radius: 3px;
                    color: $secondary-color;
                    font-weight: 600;
                    transform: translateX(0%);
                    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.096);
                    background-color: white;
                    cursor: pointer;

                    svg {
                        fill: white;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: -4px;
                        transform: translateY(-50%);
                        height: 120%;
                        width: 110%;
                        background-color: $primary-color;
                        border-radius: 3px;
                        z-index: 1;
                        animation: genderBtn .2s forwards
                    }
                }
            }
        }
    }

    .results {
        grid-row: 1 / -1;
        
        .beforeCalc {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;

            &__title {
                font-size: 40px;
                font-weight: 400;
                line-height: 1.5;
                text-align: center;
            }

            &__btn {
                border-radius: 6px;
                border: none;
                font-size: 18px;
                padding: 10px 18px;
                margin-top: 20px;
                background-color: $primary-color;
                color: white;
                font-weight: 500;
                box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.096);
                cursor: pointer;

                &:focus {
                    outline: none;
                }
            }
        }

        .afterCalc {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            height: 100%;

            &:first-child {
                padding-top: 0px;
            }

            .bmiResult, .bmrResult {
                font-size: 40px;
                font-weight: 300;
            }

            .bmrResult {
                margin-top: 30px;
                font-size: 36px;
            }
    
            .bmiClass {
                display: block;
                font-size: 24px;
                font-weight: 500;
            }

            .red, .yellow, .green {
                background-color: $text-color;
                width: max-content;
                background-color: $text-color;
                padding: 10px 20px;
                text-align: center;
                border-radius: 4px;
            }

            .red {
                color: red;
            }

            .yellow {
                color: rgb(251, 255, 0);

            }

            .green {
                color: rgb(2, 206, 2);
            }
    
            .healthyRange, .healtyWeight {
                font-size: 20px;
            }
        }

        .afterCalc > * {
            margin-top: 20px;
        }
    }

    .toggle-btns { 
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        width: 130px;
        border: 2px solid $light-grey-color;
        border-radius: 4px;

        svg {
            cursor: pointer;
        }
    }

    .btn-seperator {
        width: 2px;
        height: 100%;
        background-color: $light-grey-color;
    }

    .bmrRequirements {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 1fr);
        font-size: 18px;
        column-gap: 1px;
        row-gap: 1px;
        border: 2px solid $secondary-color;
        background-color: $light-grey-color-2;
        border-radius: 6px;
        overflow-y: scroll;
        height: fit-content;

        &__heading {
            font-size: 18px;
            font-weight: 400;
            padding: 10px;
        }

        p {
            padding: 10px;
            font-weight: 300;
            line-height: 1.4;
            align-self: stretch;
        }
    }

    .bmrRequirements > * {
        background-color: white;
    }
}

@keyframes genderBtn {
    0% {
        opacity: 0;
        width: 0;
        height: 0;
    }

    80% {
        opacity: 1;
        height: 130%;
        width: 120%;
    }

    100% {
        opacity: 1;
        height: 120%;
        width: 110%;
    }
}

@keyframes btnSize {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}