.main-dash {
    display: grid;
    grid-template-rows: 10vh 90vh;
    grid-template-columns: 16% 1fr;
    background-color: $primary-color;

    &__content {
        background-color: white;
        border-radius: 0 0 0 14px;
        padding: 10px 50px;
    }
}

.dash-view-slide-enter {
    opacity: 0;
}

.dash-view-slide-enter-active {
    position: relative;
    animation: slide-in-top .3s;
}

.dash-view-slide-leave-active {
    position: absolute;
    animation: slide-out-bottom .3s;
}

.dash-view-slide-leave {
    opacity: 0;
}

@keyframes slide-in-top {
    from {
        opacity: 0;
        transform: translateY(-50%);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-out-bottom {
    from {
        opacity: 1;
        transform: translateY(0);
    } to {
        opacity: 0;
        transform: translateY(50%);
    }
}