.diets {
    display: grid;
    grid-template-rows: 40px 1fr;
    height: 100%;

    &__topbar {
        display: flex;
        justify-content: space-between;
        width: 100%;

        &--right {
            display: flex;

            .add-icon, .export-icon {
                width: 18px;
                height: 18px;
                margin-right: 10px;
                fill: currentColor;
            }

            .add-btn, .export-btn {
                display: flex;
                align-items: center;
                position: relative;
                border: none;
                font-size: $default-font-size;
                padding: 10px 20px;
                font-weight: 500;
                background-color: transparent;
                outline: none;
                cursor: pointer;

                &:disabled {
                    color: $light-grey-color-2;
                    cursor: not-allowed;
                }
            }

            .add-btn.one {
                color: $secondary-color;

                &:disabled {
                    color: $light-grey-color-2;
                    cursor: not-allowed;
                }
            }
        }
    }

    &__toggle {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        z-index: 1;

        &--btn,
        &--btn:focus {
            position: relative;
            border: none;
            font-size: $default-font-size;
            padding: 10px 20px;
            font-weight: 500;
            background-color: transparent;
            outline: none;
            cursor: pointer;

            &.active {
                padding: 10px 20px;
                border-radius: 3px;
                color: $secondary-color;
                font-weight: 600;
                transform: translateX(0%);
                box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.096);
                background-color: white;
                z-index: 1;
                cursor: default;
                transition: ease-in-out .2s;
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            height: 90%;
            width: 100%;
            background-color: rgb(235, 235, 235);
            border-radius: 3px;
            z-index: -1;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        height: 90%;
        width: 100%;
        margin: auto 0;
        padding: 20px 18px;
        background-color: white;
        border-radius: 6px;
        box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.096);

        &--topbar {
            display: flex;

            select {
                -webkit-appearance:none;
                -moz-appearance:none;
                -ms-appearance:none;
                appearance:none;
                width: 180px;
                outline:0;
                z-index: 99;
                cursor: pointer;
                @include signupsteps-input;
        
                &::-ms-expand {
                    display: none;
                }

                &:first-of-type {
                    margin-right: 40px;
                }
            }
    
            .select {
                position: relative;
                display: flex;
                line-height: 1;
                overflow: hidden;
                border-radius: .25em;
                font-weight: 400;
                @include select-bg-arrow
            }
        }
    }
}

.dietList {
    width: 100%;
    display: grid;
    padding: 10px;
    margin-top: 20px;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    justify-items: center;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}