.messanger {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 50px 1fr 50px;
    height: 96%;
    width: 100%;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.096);
    margin-top: 4px;

    .topBar {
        position: relative;
        grid-row: 1 / span 1;
        grid-column: 1 / -1;
        box-shadow: 0 6px 4px -1px rgba(0, 0, 0, 0.089);
        display: grid;
        grid-template-columns: 30% 70%;
        z-index: 99;

        .search {
            height: 100%;
            width: 100%;
            padding-left: 14px;
            border-right: 2px solid $verylight-grey-color;
            display: flex;
            flex-direction: row;
            align-items: center;
            grid-column: 1 / span 1;
    
            &__icon {
                width: 16px;
                height: 16px;
                fill: $text-color;
                margin-left: 4px;
            }
    
            &__input {
                margin-left: 10px;
                font-size: 16px;
                height: 28px;
                border: none;
    
                &:focus {
                    outline: none;
                }
    
                &::placeholder {
                    color: $text-color;
                }
            }
        }

        .currentChat {
            grid-column: 2 / span 1;
            display: flex;
            justify-content: center;
            align-items: center;

            &__name {
                margin-right: 20px;
            }

            &__status {
                position: relative;
                color: red;
                font-weight: 600;

                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: -30%;
                    transform: translateY(-50%);
                    height: 8px;
                    width: 8px;
                    border-radius: 50%;
                    background-color: red;
                }

                &.online {
                    position: relative;
                    color: rgb(0, 216, 0);
                    font-weight: 600;

                    &::after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: -30%;
                        transform: translateY(-50%);
                        height: 8px;
                        width: 8px;
                        border-radius: 50%;
                        background-color: rgb(0, 216, 0);
                    }
                }
            }
        }
    }

    .activeChats {
        grid-row: 2 / span 2;
        grid-column: 1 / span 1;
        background-color: white;
        box-shadow: 10px 0 6px -5px rgba(0, 0, 0, 0.089);
        display: grid;
        grid-template-rows: 1fr 50px;

        &__chats {
            overflow-y: scroll;
        }

        .contacts {
            grid-row: 2 / span 1;
            grid-column: 1 / span 1;
            display: flex;
            justify-content: center;
            align-items: stretch;
            box-shadow: 0 -8px 10px -4px rgba(0, 0, 0, 0.089);

            &__myContacts, &__pro, &__activeChats {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;

                svg {
                    fill: $text-color;
                    height: 20px;
                }

                .active {
                    svg {
                        fill: $primary-color;
                    }
                }
            }

            &__myContacts, &__pro {
                border-right: 2px solid $verylight-grey-color;
            }
        }
    }

    .message {
        display: flex;
        margin: 0 auto;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        border-top: 2px solid $verylight-grey-color;

        &__attach {
            width: 20px;
            cursor: pointer;
        }

        &__input {
            width: 90%;
            border: none;
            font-size: 16px;
            font-weight: 400;

            &:focus {
                outline: none;
            }
        }

        &__submit {
            height: 20px;
            cursor: pointer;
        }
    }

    .chatBody {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__chat-time {
            text-align: center;
            color: $light-grey-color-2;
        }

        &__chatting-to {
            position: relative;
            margin: 20px 20px;
            width: 60%;
            align-self: flex-start;

            .message {
                position: relative;
                font-size: 16px;
                padding: 20px 20px;
                margin-left: 34px;
                background-color: white;
                border-radius: 6px 6px 6px 0;
                box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.096);
                line-height: 1.5;
                z-index: 10;
            }

            img {
                position: absolute;
                bottom: -22px;
                left: 0;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
                z-index: 1;
            }
        }

        &__your-message {
            display: flex;
            position: relative;
            margin: 20px 20px;
            width: 60%;
            align-self: flex-end;

            .message {
                position: relative;
                font-size: 16px;
                padding: 16px 22px;
                margin-right: 34px;
                background-color: white;
                border-radius: 6px 6px 0 6px;
                box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.096);
                line-height: 1.5;
                z-index: 10;
            }

            img {
                position: absolute;
                bottom: -22px;
                right: 0;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
                z-index: 1;
                align-self: flex-end;
            }
        }
    }
}