.overview {
    margin-top: -4px;
    width: 100%;
    color: $text-color;

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        &--left {
            display: flex;
            align-items: baseline;

            h2 {
                margin-right: 10px;
            }

            h3 {
                margin-left: 10px;
            }

            h3:first-of-type {
                font-weight: 400;
                font-size: $default-font-size;
                color: $dark-grey-color;
                margin-right: 10px;
            }

            button {
                border: none;
                font-size: $default-font-size;
                font-weight: 500;
                margin-left: 10px;
                color: $primary-color;
                cursor: pointer;

                &:focus {
                    outline: none;
                }
            }
            
        }
    }

    &__toggle {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: auto;
        z-index: 1;

        &--btn,
        &--btn:focus {
            position: relative;
            border: none;
            font-size: $default-font-size;
            padding: 10px 20px;
            font-weight: 500;
            background-color: transparent;
            outline: none;
            cursor: pointer;

            &.active {
                padding: 10px 20px;
                border-radius: 3px;
                color: $secondary-color;
                font-weight: 600;
                transform: translateX(0%);
                box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.096);
                background-color: white;
                z-index: 1;
                cursor: default;
                transition: ease-in-out .2s;
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            height: 90%;
            width: 100%;
            background-color: rgb(235, 235, 235);
            border-radius: 3px;
            z-index: -1;
        }
    }
}

.blue {
    color: $primary-color;
    font-weight: 500;
}

.seperator {
    font-size: 24px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 20px;

    &__left {
        &--icon {
            fill: $text-color;
            height: 18px;
            width: 18px;
            margin-left: 3px;
            margin-bottom: -2px;
            cursor: pointer;
        }

        .choosePlan {
            border: none;
            font-size: 24px;
            padding-right: 40px !important;
            width: max-content;
            font-weight: 600;
            padding: 0;
            background-color: white;
            background-image: url('../../assets/arrow-down.png');
            background-size: 20px;
            background-repeat: no-repeat;
            background-position: center right 10px;

            select {
                display: none;
            }

            &:focus {
                border: none !important;
            }
        }
    }

    &__right {
        display: flex;
        justify-content: space-between;
        width: auto;
    }

    &__btn {
        display: flex;
        align-items: center;
        border: none;
        margin-right: 0px;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;

        &:focus {
            outline: none;
        }

        &:last-of-type {
            color: $secondary-color;
        }

        &--icon {
            width: 18px;
            height: 18px;
            margin-right: 10px;
            fill: currentColor;
        }

        &:not(:last-of-type) {
            margin-right: 40px;
        }
    }
}

.slide-down-enter {
    opacity: 0;
}

.slide-down-enter-active {
    position: relative;
    animation: down-in .3s forwards;
}

.slide-down-leave-active {
    position: absolute;
    animation: down-out .3s forwards;
}

.slide-down-leave {
    opacity: 0;
}

@keyframes down-in {
    from {
        transform: translateX(100%);
        opacity: 0;
    } to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes down-out {
    from {
        transform: translateX(0);
        opacity: 1;
    } to {
        transform: translateX(100%);
        opacity: 0;
    }
}