.top {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 16px;
    box-shadow: $stdBoxShadow;
    
    &__info {
        display: flex;
        flex-direction: column;

        &--name {
            font-weight: 300;
        }
    }

    &__pp-image {
        position: relative;
        height: 90px;
        width: 90px;
        margin: 6px;
        border-radius: 12px;
    }

    &__name {
        color: $text-color;
        font-weight: 300;
    }

    &__stats {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-items: center;
        color: white;
        background-color: $text-color;
        height: 90px;
        width: 50%;
        padding: 6px;
        border-radius: 12px;
        margin-top: 6px;
        margin-bottom: 6px;
        margin-right: 6px;
        margin-left: auto;

        &--col {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            &:not(:last-of-type) {
                border-right: 1px solid $secondary-color;
            }
        }

        &--new {
            border: 1px solid greenyellow;
            color: greenyellow;
            padding: 1px 4px;
            border-radius: 2px;
            margin-left: 4px;
            font-size: 12px;
        }

        .group {
            display: flex;
            align-items: center;
        }

        .title {
            font-weight: 300;
            font-size: 14px;
        }

        .amount {
            font-size: 40px;
            line-height: 1;
        }
    }

    &__upgrade {
        font-size: 12px;
        color: $secondary-color;
        margin-top: 2px;
        background-color: $text-color;
        padding: 3px 8px;
        border-radius: 10px;
        width: max-content;
        cursor: pointer;
    }
}

.profile-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;

    .col-2 {
        h2 {
            font-size: 20px;
            font-weight: 300;
            margin-bottom: 10px;
            color: $text-color;
        }

        &__plans {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;

            &--btn-container {
                display: flex;
                justify-content: center;
                align-items: flex-end;
                width: 100%;
                margin-top: 14px;
            }

            .plan-1 {
                background-color: $verylight-grey-color;
                border-radius: 12px;
                padding: 20px 12px;
                color: $text-color;
                height: max-content;

                &__head {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 30px;
                }

                &__title {
                    position: relative;
                    font-weight: 600;

                    &::after {
                        position: absolute;
                        content: "";
                        bottom: -16px;
                        left: 0;
                        width: 40px;
                        height: 3px;
                        background-color: $text-color;
                    }
                }

                &__pm {
                    font-size: 14px;
                    font-weight: 500;
                }

                &__content {
                    p {
                        font-weight: 600;
                        margin-bottom: 6px;
                    }

                    ul {
                        margin: 0px 16px;
                        list-style: none;
                    }

                    li {
                        list-style-image: url('../assets/svg/checkmark-icon.svg');
                        line-height: 30px;
                        z-index: 99;
                        margin-top: 16px;
                    }
                }

                &__btn {
                    padding: 12px 20px;
                    background-color: $secondary-color;
                    color: white;
                    font-weight: 400;
                    border-radius: 4px;
                    border: 1px solid $secondary-color;

                    &:focus {
                        outline: none;
                        cursor: pointer;
                    }
                }
            }

            .plan-2 {
                background-color: $primary-color;
                border-radius: 12px;
                padding: 20px 12px;
                color: white;

                &__head {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 30px;
                }

                &__title {
                    position: relative;
                    font-weight: 600;

                    &::after {
                        position: absolute;
                        content: "";
                        bottom: -16px;
                        left: 0;
                        width: 40px;
                        height: 3px;
                        background-color: $text-color;
                    }
                }

                &__pm {
                    font-size: 14px;
                    font-weight: 500;
                }

                &__content {
                    p {
                        font-weight: 600;
                        margin-bottom: 6px;
                    }

                    ul {
                        margin: 0px 16px;
                        list-style: none;
                    }

                    li {
                        list-style-image: url('../assets/svg/checkmark-icon.svg');
                        line-height: 30px;
                        z-index: 99;
                        margin-top: 16px;
                    }
                }

                &__btn {
                    padding: 12px 20px;
                    background-color: white;
                    color: white;
                    font-weight: 400;
                    border-radius: 4px;
                    border: 1px solid white;
                    color: $primary-color;

                    &:focus {
                        outline: none;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}