.profile {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 96%;

    &__details {
        width: 100%;
        overflow-y: scroll;
    }

    .sidenav {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        border-right: 2px solid $secondary-color;
        width: 80%;

        &__item {
            width: 100%;
            font-weight: 500;
            cursor: pointer;
            padding: 10px 30px;
            border-radius: 6px 0 0 6px;

            &:not(:last-of-type) {
                margin-bottom: 40px;
            }
        }

        .active {
            background-color: $verylight-grey-color;
        }
    }

    .profilepic-container {
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 20px;

        img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            object-fit: cover;
        }

        .info {
            margin-left: 10px;

            .name {
                font-size: 20px;
                font-weight: 500;
            }

            .editBtn {
                margin-top: 4px;
                font-weight: 400;
                color: $secondary-color;
                cursor: pointer;
            }
        }
    }

    .side-by-side {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .expdate {
        display: flex;
        flex-direction: column;
        width: 100%;

        .select {
            @include select-bg-arrow;
            width: 100px;

            &:first-of-type {
                margin-right: 20px;
            }
        }
    }

    .input-container {
        display: flex;
        flex-direction: column;
        width: 100%;

        input:focus {
            outline: none;
            border: 2px solid $primary-color;
        }

        .input {
            width: 80%;
            padding: 10px;
            font-size: 18px;
            border-radius: 3px;
            border: 2px solid $light-grey-color;

            &__cvv {
                width: 100px;
            }
        }

        .input__newemail {
            width: 354px
        }
    }

    .page-header-2 {
        position: relative;
        font-weight: 500;

        &:not(:first-of-type) {
            margin-top: 80px;
        }

        &:not(:first-of-type)::before {
            content: "";
            position: absolute;
            top: -30px;
            left: 50%;
            transform: translateX(-50%);
            width: 30%;
            height: 1px;
            background-color: $primary-color;
        }
    }

    .notify {
        margin-top: 10px;
        font-size: 16px;
        font-style: italic;
        color: $dark-grey-color;
    }

    label {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 4px;
    }

    &__btn {
        background-color: $primary-color;
        border-radius: 3px;
        border: none;
        padding: 10px;
        font-size: 16px;
        color: white;
        margin-top: 20px;
        cursor: pointer;

        &:focus {
            outline: none;
        }
    }
    
    #checkbox {
        display: none;
    }

    .checkbox {
        margin-top: 30px;
        display: flex;

        &__label {
            font-weight: 400;
            font-size: 16px;
            margin-left: 10px;
        }

        .active {
            border: 1px solid $secondary-color;

            svg {
                opacity: 1;
            }
        }

        &__checkmark {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            border-radius: 2px;
            border: 1px solid $dark-grey-color;

            svg {
                height: 16px;
                width: 16px;
                opacity: 0;
            }
        }
    }
}