.steps {
    position: relative;
    height: 100vh;
    width: 100wv;
    background-image: url(../assets/signupstep-bg.jpg);
    background-size: 98%;
    background-repeat: repeat;

    &__logo {
        position: absolute;
        top: 16px;
        left: 20px;

        &--icon {
            width: 36px;
            height: 36px;
            padding-right: 8px;
            margin-bottom: 4px;
        }

        &--name {
            height: 36px
        }
    }

    &__container {
        position: absolute;
        top: 50%;
        left: 50%;
        box-shadow: 0px 0px 10px rgb(184, 184, 184);
        transform: translate(-50%, -50%);
        background-color: white;
        border-radius: 10px;
        width: 86vw;
        height: 80vh;
    }

    &__content {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;

        &--form {
            width: 90%;
            height: 100%;
            max-height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            justify-items: space-between;
        }

        &--heading {
            font-weight: 400;
            font-size: 40px;
        }

        &--heading > &--bold {
            font-weight: 600;
        }

        &--subheading {
            margin-top: 12px;
            font-weight: 400;
            font-size: 30px;
        }
    }

    &__navbtns {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 90%;

        button:disabled {
            background-color: $light-grey-color;
            border-color: $light-grey-color;
            cursor: not-allowed;
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        padding: 6px 12px;
        border: 2px solid $secondary-color;
        border-radius: 4px;
        font-size: 16px;
        margin: 10px 0px 10px 10px;
        cursor: pointer;

        &:focus {
            outline: none;
        }

        &--next {
            background-color: $secondary-color;
            color: white;

            svg {
                fill: white;
                transform: rotateY(180deg);
                margin-left: 6px;
            }
        }

        &--back {
            color: $secondary-color;
            font-weight: 500;

            svg {
                fill: $secondary-color;
                margin-right: 6px;
            }
        }

        &--back svg, &--next svg {
            height: 14px;
            width: 14px;
        }
    }
}

.progress {
    align-self: center;
    margin-top: 26px;
    background-color: $light-grey-color;
    width: 40%;
    height: 30px;
    border-radius: 4px;

    &__bar {
        background-color: $secondary-color;
        height: 100%;
        border-radius: 4px;
        text-align: center;
        line-height: 30px;
        transition: width .3s;

        p {
            color: white;
            font-weight: 500;
        }
    }
}

.slide-to-side-enter {
    opacity: 0;
}

.slide-to-side-enter-active {
    animation: slide-in .3s forwards;
    position: relative;
}

.slide-to-side-leave-active {
    animation: slide-out .3s forwards;
    position: absolute;
}

.slide-to-side-leave {
    opacity: 0;
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
        opacity: 0;
    } to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-out {
    from {
        transform: translateX(0);
        opacity: 1;
    } to {
        transform: translateX(-100%);
        opacity: 0;
    }
}