.container {
    position: relative;
}

.headimg {
    margin: 20px 24px;
    height: 40px;
}

.sides {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;

    @media screen and (max-width: 375px) {
        width: 100%;
    }

    &__side {
        width: 50vw;

        @media screen and (max-width: 375px) {
            width: 100%;
        }

        &-1 {
            background-image: url('../../assets/background-signin-img.png');
            height: 100vh;
            background-size: 102%;
            background-position-y: 40%;
            background-position-x: 30%;
            background-repeat: repeat;

            @media screen and (max-width: 375px) {
                background-repeat: repeat;
                background-size: 60%;
                position: absolute;
                z-index: -1;
            }
        }
    }
}

.login {
    &__logo {
        position: absolute;
        display: flex;
        flex-direction: row;
        margin: 18px 20px;
        z-index: 10;

        &--icon {
            width: 36px;
            height: 36px;
            margin-top: -2px;
            padding-right: 6px;

            @media screen and (max-width: 375px) {
                width: 28px;
                height: 28px;
            }
        }

        &--name {
            height: 36px;

            @media screen and (max-width: 375px) {
                height: 28px;
            }
        }
    }
}